In [1]:
import re, math
from collections import Counter
import string
import nltk
from difflib import SequenceMatcher
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk import word_tokenize 
#nltk.download('punkt')

[nltk_data] Downloading package stopwords to C:\Users\Vashi
[nltk_data]     NSIT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [1]:
import operator
import xgboost as xgb
from xgboost.sklearn import XGBClassifier

In [2]:
import pandas as pd
import numpy as np
import random as rnd

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn import preprocessing


from sklearn.cross_validation import train_test_split , StratifiedKFold
from sklearn.feature_selection import RFECV

import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab

F:\Anaconda\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [5]:
def describe_more( df ):
    var = [] ; l = [] ; t = []
    for x in df:
        var.append( x )
        l.append( len( pd.value_counts( df[ x ] ) ) )
        t.append( df[ x ].dtypes )
    #print(var,l,t)
    levels = pd.DataFrame( { 'Variable' : var , 'Levels' : l , 'Datatype' : t } )
    levels.sort_values( by = 'Levels' , inplace = True )
    return levels

In [272]:
label=preprocessing.LabelEncoder()

In [ ]:
camp=pd.read_csv("campaign_data.csv")

In [150]:
camp1=pd.read_csv("camp.csv")

In [152]:
camp.head()

,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,subject,email_url,campaign_wts,campaign_wts1
campaign_id,,,,,,,,,,
29,Newsletter,67,61,12,3,"Dear AVians,\r\r\n \r\r\nWe are shaping up a s...",Sneak Peek: A look at the emerging data scienc...,http://r.newsletters.analyticsvidhya.com/7um44...,6,6
30,Upcoming Events,18,14,7,1,"Dear AVians,\r\r\n \r\r\nAre your eager to kno...",[July] Data Science Expert Meetups & Competiti...,http://r.newsletters.analyticsvidhya.com/7up0e...,6,6
31,Conference,15,13,5,1,Early Bird Pricing Till August 07  Save upto ...,Last chance to convince your boss before the E...,http://r.newsletters.analyticsvidhya.com/7usym...,6,6
32,Conference,24,19,7,1,\r\r\n \r\r\nHi ?\r\r\n \r\r\nBefore I dive in...,A.I. & Machine Learning: 5 reasons why you sho...,http://r.newsletters.analyticsvidhya.com/7uthl...,6,6
33,Others,7,3,1,1,Fireside Chat with DJ Patil - the master is he...,"[Delhi NCR] Fireside Chat with DJ Patil, Forme...",http://r.newsletters.analyticsvidhya.com/7uvlg...,6,6

In [8]:
WORD = re.compile(r'\w+')

def get_cosine(vec1, vec2):
     intersection = set(vec1.keys()) & set(vec2.keys())
        
     numerator = sum([vec1[x] * vec2[x] for x in intersection])

     sum1 = sum([vec1[x]**2 for x in vec1.keys()])
     sum2 = sum([vec2[x]**2 for x in vec2.keys()])
     denominator = math.sqrt(sum1) * math.sqrt(sum2)

     if not denominator:
        return 0.0
     else:
        return float(numerator) / denominator

def text_to_vector(text):
     words = WORD.findall(text)
     return Counter(words)
def words(scent):
    word=scent.lower()
    word=word_tokenize(word)
    #word= re.findall(r'\w+',scent)
    exclude= list(filter(lambda x: x in ['what','where','how','when','why','?'],word))
    word=list(filter(lambda x: x not in (stopwords.words('english') + list(string.punctuation)), word))
    word.extend(exclude)
    return word

In [9]:
def cosine_similarity(scent,scent1):
    vector1 = text_to_vector(scent)
    vector2 = text_to_vector(scent1)
    cosine = get_cosine(vector1, vector2)
    return cosine

def sequential(scent,scent1):
    s1=words(scent)
    s2=words(scent1)
    s = SequenceMatcher(None, s1, s2)
    print(s.ratio())
    return s.value
def intersection(scent,scent1):
    scent=words(scent)
    scent1=words(scent1)
    s1=set(scent)
    s2=set(scent1)
    s=s1.intersection(s2)
    return len(s)

In [10]:
data=pd.read_csv('train.csv')

In [11]:
data.head()

          id  user_id  campaign_id         send_date  is_open  is_click
0   42_14051    14051           42  01-09-2017 19:55        0         0
1  52_134438   134438           52  02-11-2017 12:53        0         0
2  33_181789   181789           33  24-07-2017 15:15        0         0
3  44_231448   231448           44  05-09-2017 11:36        0         0
4  29_185580   185580           29  01-07-2017 18:01        0         0

In [593]:
def order(data,output,on,by):
    D=data[data[output]==on].groupby([output,by])[by].agg({'Frequency':'count'}).sort_values(by='Frequency',ascending=False)
    return D

In [13]:
C_cid=order(data,'is_click',1,'campaign_id')

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  from ipykernel import kernelapp as app

In [323]:
U_C_data=data[data['is_click']==1]

In [336]:
category={}
for i in camp.communication_type.unique():
    typ=list(camp.campaign_id[camp['communication_type']==i].values)
    category[i]=typ

In [342]:
category

{'Conference': [31, 32, 36, 37, 38, 40, 49, 53],
 'Corporate': [41, 43, 55, 59, 60, 61, 66, 70, 72, 73, 77, 80],
 'Hackathon': [45, 46, 47, 51, 58, 62, 65, 67, 68, 69, 71, 78, 79],
 'Newsletter': [29, 34, 42, 48, 52, 54, 56, 63, 74],
 'Others': [33, 35],
 'Upcoming Events': [30, 44, 50, 57, 64, 75, 76],
 'Webinar': [39]}

In [341]:
U_C_data['category']=0

,id,user_id,campaign_id,send_date,is_open,is_click,cwt,U_cid_wts,time_of_day,weekend,U_oid_wts,cwt1,category
109,30_62110,62110,30,05-07-2017 14:14,1,1,5,1,2,0,1,0,0
213,48_73007,73007,48,02-10-2017 10:25,1,1,4,1,0,0,1,0,0
269,42_8759,8759,42,01-09-2017 20:08,1,1,6,2,1,0,2,0,0
410,32_194328,194328,32,19-07-2017 12:13,1,1,5,1,2,0,1,0,0
418,35_150594,150594,35,29-07-2017 15:17,1,1,2,2,2,1,2,0,0
455,54_1450,1450,54,01-12-2017 20:13,1,1,6,1,1,0,1,0,0
511,49_31772,31772,49,28-09-2017 15:05,1,1,6,1,2,0,1,0,0
550,29_140375,140375,29,02-07-2017 18:02,1,1,6,1,2,1,1,0,0
813,46_77250,77250,46,14-09-2017 13:38,1,1,3,2,2,0,3,0,0
853,44_34519,34519,44,05-09-2017 11:36,1,1,4,1,0,0,1,0,0
1096,52_233691,233691,52,02-11-2017 12:42,1,1,6,1,2,0,1,0,0
1101,42_164694,164694,42,01-09-2017 19:56,1,1,6,1,1,0,2,0,0
1164,45_199405,199405,45,11-09-2017 18:01,1,1,3,2,2,0,3,0,0
1169,30_58126,58126,30,05-07-2017 14:11,1,1,5,2,2,0,2,0,0
1202,33_112330,112330,33,24-07-2017 15:15,1,1,4,1,2,0,2,0,0
1273,42_42883,42883,42,01-09-2017 19:52,1,1,6,1,1,0,6,0,0
1332,36_57720,57720,36,03-08-2017 17:23,1,1,3,1,2,0,1,0,0
1395,34_225532,225532,34,01-08-2017 22:08,1,1,5,1,1,0,4,0,0
1400,33_170998,170998,33,24-07-2017 14:50,1,1,4,2,2,0,4,0,0
1508,50_128522,128522,50,06-10-2017 14:34,1,1,4,1,2,0,1,0,0
1641,52_68499,68499,52,02-11-2017 12:38,1,1,6,1,2,0,4,0,0
1821,50_18086,18086,50,06-10-2017 14:42,1,1,4,2,2,0,2,0,0
1839,54_136624,136624,54,01-12-2017 20:13,1,1,6,1,1,0,3,0,0
1928,44_123780,123780,44,05-09-2017 11:44,1,1,4,2,0,0,7,0,0
1961,45_185694,185694,45,11-09-2017 18:01,1,1,3,1,2,0,3,0,0
2015,52_15486,15486,52,02-11-2017 12:37,1,1,6,1,2,0,1,0,0
2113,50_128729,128729,50,06-10-2017 14:50,1,1,4,3,2,0,7,0,0
2229,52_89551,89551,52,02-11-2017 12:56,1,1,6,1,2,0,2,0,0
2287,30_231454,231454,30,05-07-2017 14:11,1,1,5,1,2,0,2,0,0
2325,49_10299,10299,49,28-09-2017 15:43,1,1,6,1,2,0,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020999,54_37443,37443,54,01-12-2017 20:16,1,1,6,2,1,0,6,0,0
1021104,29_124805,124805,29,02-07-2017 18:09,1,1,6,1,2,1,6,0,0
1021213,52_187767,187767,52,02-11-2017 12:51,1,1,6,1,2,0,1,0,0
1021275,30_35961,35961,30,05-07-2017 14:07,1,1,5,1,2,0,2,0,0
1021402,45_122065,122065,45,11-09-2017 18:02,1,1,3,3,2,0,5,0,0
1021470,36_105517,105517,36,03-08-2017 17:23,1,1,3,2,2,0,2,0,0
1021594,30_229685,229685,30,05-07-2017 14:10,1,1,5,1,2,0,4,0,0
1021644,49_65138,65138,49,28-09-2017 15:04,1,1,6,1,2,0,1,0,0
1021664,34_68532,68532,34,01-08-2017 22:10,1,1,5,1,1,0,2,0,0
1021688,42_145553,145553,42,01-09-2017 20:06,1,1,6,2,1,0,3,0,0
1021869,33_66495,66495,33,24-07-2017 14:50,1,1,4,1,2,0,2,0,0
1021916,47_227450,227450,47,21-09-2017 23:31,1,1,3,2,1,0,2,0,0
1021962,48_50851,50851,48,02-10-2017 10:31,1,1,4,1,0,0,3,0,0
1022155,33_184704,184704,33,24-07-2017 15:16,1,1,4,1,2,0,1,0,0
1022181,46_16875,16875,46,14-09-2017 13:39,1,1,3,1,2,0,1,0,0
1022336,38_101751,101751,38,05-08-2017 14:02,1,1,1,1,2,1,3,0,0
1022370,29_26047,26047,29,01-07-2017 18:12,1,1,6,1,2,1,7,0,0
1022387,47_127491,127491,47,21-09-2017 23:33,1,1,3,1,1,0,6,0,0
1022712,46_62411,62411,46,14-09-2017 13:38,1,1,3,1,2,0,2,0,0
1022740,52_174233,174233,52,02-11-2017 12:35,1,1,6,1,2,0,2,0,0
1022826,50_178620,178620,50,06-10-2017 14:54,1,1,4,1,2,0,1,0,0
1022856,34_210825,210825,34,01-08-2017 22:28,1,1,5,3,1,0,4,0,0
1022876,52_6299,6299,52,02-11-2017 12:54,1,1,6,1,2,0,1,0,0
1022883,29_205281,205281,29,01-07-2017 18:01,1,1,6,1,2,1,1,0,0
1023000,42_165731,165731,42,01-09-2017 19:59,1,1,6,4,1,0,6,0,0
1023022,52_159042,159042,52,02-11-2017 12:54,1,1,6,1,2,0,4,0,0
1023051,34_126221,126221,34,01-08-2017 22:07,1,1,5,3,1,0,5,0,0
1023059,33_103245,103245,33,24-07-2017 15:15,1,1,4,1,2,0,2,0,0
1023128,49_36187,36187,49,28-09-2017 15:04,1,1,6,1,2,0,1,0,0
1023188,33_235406,235406,33,26-07-2017 09:37,1,1,4,1,0,0,1,0,0

In [343]:
for key, val in category.items():
    for i in val:
        U_C_data.category[U_C_data['campaign_id']==i]=key

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
F:\Anaconda\lib\site-packages\pandas\core\generic.py:5984: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
F:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2881: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
F:\Anaconda\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [362]:
U_C_corr=order1(U_C_data,'category','user_id')

In [717]:
Dat=data

In [380]:
uc_corr=U_C_corr[['category','user_id']]

In [973]:
for i in uc_corr['category'].unique():
    uc=uc_corr[uc_corr['category']==i]
    data=data.join(uc,on='user_id')
    data[i]=data['category']
    data.drop('category', axis=1, inplace=True)

In [974]:
for i in uc_corr['category'].unique():
    uc=uc_corr[uc_corr['category']==i]
    test=test.join(uc,on='user_id')
    test[i]=test['category']
    test.drop('category', axis=1, inplace=True)

In [975]:
data.to_csv('Trainfinal.csv')

In [976]:
test.to_csv('Testfinal.csv')

In [1060]:
test=pd.read_csv('Testfinal.csv')

In [1064]:
test

,Unnamed: 0,id,campaign_id,user_id,send_date,U_cid_wts,U_oid_wts,time_of_day,weekend,communication_type,campaign_weight,Conference,Corporate,Hackathon,Newsletter,Others,Upcoming Events,Webinar
0,0,63_122715,63,122715,01-02-2018 22:35,0.0,0.0,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,56_76206,56,76206,02-01-2018 08:15,0.0,0.0,0.012,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,57_96189,57,96189,05-01-2018 18:25,0.0,1.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,56_166917,56,166917,02-01-2018 08:15,0.0,0.0,0.012,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,56_172838,56,172838,02-01-2018 08:12,0.0,2.0,0.012,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,71_50253,71,50253,19-02-2018 16:08,0.0,0.0,0.012,0.012,Hackathon,2.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,76_128244,76,128244,07-03-2018 11:47,0.0,2.0,0.012,0.012,Upcoming Events,5.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,74_195513,74,195513,01-03-2018 20:57,0.0,1.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,67_74617,67,74617,12-02-2018 14:33,0.0,0.0,0.012,0.012,Hackathon,2.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,75_140599,75,140599,05-03-2018 18:11,0.0,0.0,0.014,0.012,Upcoming Events,5.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,63_124394,63,124394,01-02-2018 22:47,NaN,NaN,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,63_95168,63,95168,01-02-2018 22:44,0.0,0.0,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,74_90706,74,90706,01-03-2018 21:17,NaN,NaN,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,63_31556,63,31556,01-02-2018 23:09,0.0,1.0,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,57_166505,57,166505,05-01-2018 18:29,0.0,0.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,64_2089,64,2089,06-02-2018 15:14,0.0,0.0,0.012,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,74_133849,74,133849,01-03-2018 20:39,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,74_7486,74,7486,01-03-2018 20:26,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,57_159015,57,159015,05-01-2018 18:22,0.0,2.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,64_111872,64,111872,06-02-2018 15:19,0.0,2.0,0.012,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,56_176763,56,176763,02-01-2018 08:13,0.0,1.0,0.012,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,71_8316,71,8316,19-02-2018 16:09,0.0,1.0,0.012,0.012,Hackathon,2.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,69_133308,69,133308,16-02-2018 12:03,0.0,0.0,0.012,0.012,Hackathon,2.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,74_50984,74,50984,01-03-2018 21:16,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,76_64692,76,64692,07-03-2018 11:33,0.0,2.0,0.012,0.012,Upcoming Events,5.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,64_184811,64,184811,06-02-2018 15:15,0.0,0.0,0.012,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,57_81487,57,81487,05-01-2018 18:11,0.0,1.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,57_41624,57,41624,05-01-2018 18:10,0.0,0.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,71_95059,71,95059,19-02-2018 16:07,0.0,0.0,0.012,0.012,Hackathon,2.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,71_25044,71,25044,19-02-2018 16:11,NaN,NaN,0.012,0.012,Hackathon,2.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773828,773828,56_47638,56,47638,02-01-2018 08:09,0.0,1.0,0.012,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773829,773829,57_199696,57,199696,05-01-2018 18:21,NaN,NaN,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773830,773830,56_162289,56,162289,02-01-2018 08:12,0.0,0.0,0.012,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773831,773831,69_145085,69,145085,16-02-2018 12:08,0.0,0.0,0.012,0.012,Hackathon,2.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773832,773832,74_233054,74,233054,01-03-2018 20:25,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773833,773833,63_42227,63,42227,01-02-2018 22:51,NaN,NaN,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773834,773834,74_238916,74,238916,01-03-2018 20:29,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773835,773835,64_67184,64,67184,06-02-2018 15:15,NaN,NaN,0.012,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773836,773836,63_64538,63,64538,01-02-2018 23:05,0.0,4.0,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773837,773837,71_83603,71,83603,19-02-2018 16:05,0.0,1.0,0.012,0.012,Hackathon,2.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773838,773838,57_13091,57,13091,05-01-2018 18:33,0.0,0.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773839,773839,63_216162,63,216162,01-02-2018 23:09,1.0,1.0,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,Upcoming Events,NaN
773840,773840,63_111877,63,111877,01-02-2018 23:08,0.0,0.0,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773841,773841,63_163766,63,163766,01-02-2018 22:57,0.0,1.0,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773842,773842,74_40948,74,40948,01-03-2018 21:00,NaN,NaN,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773843,773843,74_59284,74,59284,01-03-2018 20:50,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773844,773844,64_232176,64,232176,06-02-2018 15:12,0.0,0.0,0.012,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773845,773845,69_65847,69,65847,16-02-2018 12:03,NaN,NaN,0.012,0.012,Hackathon,2.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773846,773846,76_200174,76,200174,07-03-2018 11:45,0.0,0.0,0.012,0.012,Upcoming Events,5.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773847,773847,57_191488,57,191488,05-01-2018 18:03,0.0,0.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773848,773848,69_42153,69,42153,16-02-2018 12:04,0.0,2.0,0.012,0.012,Hackathon,2.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773849,773849,57_127883,57,127883,05-01-2018 18:30,0.0,0.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773850,773850,55_153170,55,153170,09-01-2018 15:35,0.0,0.0,0.012,0.012,Corporate,2.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773851,773851,57_4034,57,4034,05-01-2018 18:18,NaN,NaN,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773852,773852,74_80370,74,80370,01-03-2018 20:55,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773853,773853,74_202929,74,202929,01-03-2018 21:19,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773854,773854,56_95437,56,95437,02-01-2018 08:10,1.0,1.0,0.012,0.012,Newsletter,5.33,NaN,NaN,NaN,Newsletter,NaN,NaN,NaN
773855,773855,63_11063,63,11063,01-02-2018 22:55,0.0,0.0,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773856,773856,72_144182,72,144182,22-02-2018 16:10,0.0,7.0,0.012,0.012,Corporate,2.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
773857,773857,57_226299,57,226299,05-01-2018 18:03,0.0,0.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
Dat.loc[Dat['Corporate']=='Corporate','Corporate']

In [984]:
category

{'Conference': [31, 32, 36, 37, 38, 40, 49, 53],
 'Corporate': [41, 43, 55, 59, 60, 61, 66, 70, 72, 73, 77, 80],
 'Hackathon': [45, 46, 47, 51, 58, 62, 65, 67, 68, 69, 71, 78, 79],
 'Newsletter': [29, 34, 42, 48, 52, 54, 56, 63, 74],
 'Others': [33, 35],
 'Upcoming Events': [30, 44, 50, 57, 64, 75, 76],
 'Webinar': [39]}

In [1206]:
for i,j in category.items():
    data.loc[data[i].isnull()& data['U_cid_wts']>0,i]=0

In [1210]:
for i,j in category.items():
    data.loc[data[i]==i,i]=1

In [1216]:
data.to_csv('Data_FinaL.csv')

In [1212]:
Data=data.set_index('user_id',drop=False)

In [1215]:
Data.loc[235406,:]

,id,user_id,campaign_id,send_date,is_open,is_click,U_cid_wts,U_oid_wts,time_of_day,weekend,communication_type,campaign_weight,Conference,Corporate,Hackathon,Newsletter,Others,Upcoming Events,Webinar
user_id,,,,,,,,,,,,,,,,,,,
235406,53_235406,235406,53,06-11-2017 23:02,0,0,1,1,0.011,0.012,Conference,4.75,0,0,0,0,1,0,0
235406,52_235406,235406,52,02-11-2017 12:48,0,0,1,1,0.012,0.012,Newsletter,5.44,0,0,0,0,1,0,0
235406,48_235406,235406,48,02-10-2017 10:27,0,0,1,1,0.012,0.012,Newsletter,3.86,0,0,0,0,1,0,0
235406,34_235406,235406,34,01-08-2017 22:19,0,0,1,1,0.011,0.012,Newsletter,4.98,0,0,0,0,1,0,0
235406,33_235406,235406,33,26-07-2017 09:37,1,1,1,1,0.012,0.012,Others,3.31,0,0,0,0,1,0,0

In [ ]:
for j,k in category.items():
    for i in UniqueIds_click:
        if i in .index:
            try:    
                if Data[j][i].any()==j:
                    Data[j][i]=1
                else:
                    Data[j][i]=0
            except:
                if Data[j][i]==j:
                    Data[j][i]=1
                else:
                    Data[j][i]=0

In [1251]:
data.to_csv('Data_Final.csv')

In [1014]:
ClickIds=data.loc[data['is_click']==1,'user_id'].values

In [1020]:
len(ClickIds)

12782

In [1021]:
UniqueIds_click=np.unique(ClickIds)

In [1217]:
Test

,Unnamed: 0,id,campaign_id,user_id,send_date,U_cid_wts,U_oid_wts,time_of_day,weekend,communication_type,campaign_weight,Conference,Corporate,Hackathon,Newsletter,Others,Upcoming Events,Webinar
user_id,,,,,,,,,,,,,,,,,,
122715,0,63_122715,63,122715,01-02-2018 22:35,0.0,0.0,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76206,1,56_76206,56,76206,02-01-2018 08:15,0.0,0.0,0.012,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96189,2,57_96189,57,96189,05-01-2018 18:25,0.0,1.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166917,3,56_166917,56,166917,02-01-2018 08:15,0.0,0.0,0.012,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172838,4,56_172838,56,172838,02-01-2018 08:12,0.0,2.0,0.012,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50253,5,71_50253,71,50253,19-02-2018 16:08,0.0,0.0,0.012,0.012,Hackathon,2.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128244,6,76_128244,76,128244,07-03-2018 11:47,0.0,2.0,0.012,0.012,Upcoming Events,5.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195513,7,74_195513,74,195513,01-03-2018 20:57,0.0,1.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74617,8,67_74617,67,74617,12-02-2018 14:33,0.0,0.0,0.012,0.012,Hackathon,2.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140599,9,75_140599,75,140599,05-03-2018 18:11,0.0,0.0,0.014,0.012,Upcoming Events,5.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124394,10,63_124394,63,124394,01-02-2018 22:47,NaN,NaN,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95168,11,63_95168,63,95168,01-02-2018 22:44,0.0,0.0,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90706,12,74_90706,74,90706,01-03-2018 21:17,NaN,NaN,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31556,13,63_31556,63,31556,01-02-2018 23:09,0.0,1.0,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166505,14,57_166505,57,166505,05-01-2018 18:29,0.0,0.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2089,15,64_2089,64,2089,06-02-2018 15:14,0.0,0.0,0.012,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133849,16,74_133849,74,133849,01-03-2018 20:39,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7486,17,74_7486,74,7486,01-03-2018 20:26,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159015,18,57_159015,57,159015,05-01-2018 18:22,0.0,2.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111872,19,64_111872,64,111872,06-02-2018 15:19,0.0,2.0,0.012,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176763,20,56_176763,56,176763,02-01-2018 08:13,0.0,1.0,0.012,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8316,21,71_8316,71,8316,19-02-2018 16:09,0.0,1.0,0.012,0.012,Hackathon,2.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133308,22,69_133308,69,133308,16-02-2018 12:03,0.0,0.0,0.012,0.012,Hackathon,2.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50984,23,74_50984,74,50984,01-03-2018 21:16,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64692,24,76_64692,76,64692,07-03-2018 11:33,0.0,2.0,0.012,0.012,Upcoming Events,5.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184811,25,64_184811,64,184811,06-02-2018 15:15,0.0,0.0,0.012,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81487,26,57_81487,57,81487,05-01-2018 18:11,0.0,1.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41624,27,57_41624,57,41624,05-01-2018 18:10,0.0,0.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95059,28,71_95059,71,95059,19-02-2018 16:07,0.0,0.0,0.012,0.012,Hackathon,2.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25044,29,71_25044,71,25044,19-02-2018 16:11,NaN,NaN,0.012,0.012,Hackathon,2.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47638,773828,56_47638,56,47638,02-01-2018 08:09,0.0,1.0,0.012,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199696,773829,57_199696,57,199696,05-01-2018 18:21,NaN,NaN,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162289,773830,56_162289,56,162289,02-01-2018 08:12,0.0,0.0,0.012,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145085,773831,69_145085,69,145085,16-02-2018 12:08,0.0,0.0,0.012,0.012,Hackathon,2.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233054,773832,74_233054,74,233054,01-03-2018 20:25,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42227,773833,63_42227,63,42227,01-02-2018 22:51,NaN,NaN,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238916,773834,74_238916,74,238916,01-03-2018 20:29,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67184,773835,64_67184,64,67184,06-02-2018 15:15,NaN,NaN,0.012,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64538,773836,63_64538,63,64538,01-02-2018 23:05,0.0,4.0,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83603,773837,71_83603,71,83603,19-02-2018 16:05,0.0,1.0,0.012,0.012,Hackathon,2.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13091,773838,57_13091,57,13091,05-01-2018 18:33,0.0,0.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216162,773839,63_216162,63,216162,01-02-2018 23:09,1.0,1.0,0.011,0.012,Newsletter,5.48,0,0,0,0,0,1,0
111877,773840,63_111877,63,111877,01-02-2018 23:08,0.0,0.0,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163766,773841,63_163766,63,163766,01-02-2018 22:57,0.0,1.0,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40948,773842,74_40948,74,40948,01-03-2018 21:00,NaN,NaN,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59284,773843,74_59284,74,59284,01-03-2018 20:50,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232176,773844,64_232176,64,232176,06-02-2018 15:12,0.0,0.0,0.012,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65847,773845,69_65847,69,65847,16-02-2018 12:03,NaN,NaN,0.012,0.012,Hackathon,2.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200174,773846,76_200174,76,200174,07-03-2018 11:45,0.0,0.0,0.012,0.012,Upcoming Events,5.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191488,773847,57_191488,57,191488,05-01-2018 18:03,0.0,0.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42153,773848,69_42153,69,42153,16-02-2018 12:04,0.0,2.0,0.012,0.012,Hackathon,2.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127883,773849,57_127883,57,127883,05-01-2018 18:30,0.0,0.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153170,773850,55_153170,55,153170,09-01-2018 15:35,0.0,0.0,0.012,0.012,Corporate,2.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4034,773851,57_4034,57,4034,05-01-2018 18:18,NaN,NaN,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80370,773852,74_80370,74,80370,01-03-2018 20:55,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202929,773853,74_202929,74,202929,01-03-2018 21:19,0.0,0.0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95437,773854,56_95437,56,95437,02-01-2018 08:10,1.0,1.0,0.012,0.012,Newsletter,5.33,0,0,0,1,0,0,0
11063,773855,63_11063,63,11063,01-02-2018 22:55,0.0,0.0,0.011,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144182,773856,72_144182,72,144182,22-02-2018 16:10,0.0,7.0,0.012,0.012,Corporate,2.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226299,773857,57_226299,57,226299,05-01-2018 18:03,0.0,0.0,0.014,0.012,Upcoming Events,4.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1030]:
Test.drop(['Conference','Corporate','Hackathon','Newsletter','Others','Upcoming Events','Webinar'],axis=1,inplace=True)

In [1066]:
Test=Test.set_index('user_id',drop=False)

In [1040]:
Data[Data.user_id.unique()]

array([ 62110,  73007,   8759, ..., 103245,  36187, 235406], dtype=int64)

In [1052]:
B=pd.DataFrame({'bc':[1,2,3,4,5,6],'C':['a','b','c','d','d','d'],'D':[0,'b',0,'c','c','c']})

In [1053]:
B=B.set_index('bc',drop=True)

In [ ]:
['Conference','Corporate','Hackathon','Newsletter','Others','Upcoming Events','Webinar']

In [1033]:
Data=data[['Conference','Corporate','Hackathon','Newsletter','Others','Upcoming Events','Webinar']]

,id,campaign_id,user_id,send_date,U_cid_wts,U_oid_wts,time_of_day,weekend,communication_type,campaign_weight
user_id,,,,,,,,,,
122715,63_122715,63,122715,01-02-2018 22:35,0.0,0.0,0.011,0.012,Newsletter,5.48
76206,56_76206,56,76206,02-01-2018 08:15,0.0,0.0,0.012,0.012,Newsletter,5.33
96189,57_96189,57,96189,05-01-2018 18:25,0.0,1.0,0.014,0.012,Upcoming Events,4.36
166917,56_166917,56,166917,02-01-2018 08:15,0.0,0.0,0.012,0.012,Newsletter,5.33
172838,56_172838,56,172838,02-01-2018 08:12,0.0,2.0,0.012,0.012,Newsletter,5.33
50253,71_50253,71,50253,19-02-2018 16:08,0.0,0.0,0.012,0.012,Hackathon,2.68
128244,76_128244,76,128244,07-03-2018 11:47,0.0,2.0,0.012,0.012,Upcoming Events,5.36
195513,74_195513,74,195513,01-03-2018 20:57,0.0,1.0,0.014,0.012,Newsletter,5.48
74617,67_74617,67,74617,12-02-2018 14:33,0.0,0.0,0.012,0.012,Hackathon,2.81
140599,75_140599,75,140599,05-03-2018 18:11,0.0,0.0,0.014,0.012,Upcoming Events,5.36
124394,63_124394,63,124394,01-02-2018 22:47,NaN,NaN,0.011,0.012,Newsletter,5.48
95168,63_95168,63,95168,01-02-2018 22:44,0.0,0.0,0.011,0.012,Newsletter,5.48
90706,74_90706,74,90706,01-03-2018 21:17,NaN,NaN,0.014,0.012,Newsletter,5.48
31556,63_31556,63,31556,01-02-2018 23:09,0.0,1.0,0.011,0.012,Newsletter,5.48
166505,57_166505,57,166505,05-01-2018 18:29,0.0,0.0,0.014,0.012,Upcoming Events,4.36
2089,64_2089,64,2089,06-02-2018 15:14,0.0,0.0,0.012,0.012,Upcoming Events,4.36
133849,74_133849,74,133849,01-03-2018 20:39,0.0,0.0,0.014,0.012,Newsletter,5.48
7486,74_7486,74,7486,01-03-2018 20:26,0.0,0.0,0.014,0.012,Newsletter,5.48
159015,57_159015,57,159015,05-01-2018 18:22,0.0,2.0,0.014,0.012,Upcoming Events,4.36
111872,64_111872,64,111872,06-02-2018 15:19,0.0,2.0,0.012,0.012,Upcoming Events,4.36
176763,56_176763,56,176763,02-01-2018 08:13,0.0,1.0,0.012,0.012,Newsletter,5.33
8316,71_8316,71,8316,19-02-2018 16:09,0.0,1.0,0.012,0.012,Hackathon,2.68
133308,69_133308,69,133308,16-02-2018 12:03,0.0,0.0,0.012,0.012,Hackathon,2.41
50984,74_50984,74,50984,01-03-2018 21:16,0.0,0.0,0.014,0.012,Newsletter,5.48
64692,76_64692,76,64692,07-03-2018 11:33,0.0,2.0,0.012,0.012,Upcoming Events,5.36
184811,64_184811,64,184811,06-02-2018 15:15,0.0,0.0,0.012,0.012,Upcoming Events,4.36
81487,57_81487,57,81487,05-01-2018 18:11,0.0,1.0,0.014,0.012,Upcoming Events,4.36
41624,57_41624,57,41624,05-01-2018 18:10,0.0,0.0,0.014,0.012,Upcoming Events,4.36
95059,71_95059,71,95059,19-02-2018 16:07,0.0,0.0,0.012,0.012,Hackathon,2.68
25044,71_25044,71,25044,19-02-2018 16:11,NaN,NaN,0.012,0.012,Hackathon,2.68
...,...,...,...,...,...,...,...,...,...,...
47638,56_47638,56,47638,02-01-2018 08:09,0.0,1.0,0.012,0.012,Newsletter,5.33
199696,57_199696,57,199696,05-01-2018 18:21,NaN,NaN,0.014,0.012,Upcoming Events,4.36
162289,56_162289,56,162289,02-01-2018 08:12,0.0,0.0,0.012,0.012,Newsletter,5.33
145085,69_145085,69,145085,16-02-2018 12:08,0.0,0.0,0.012,0.012,Hackathon,2.41
233054,74_233054,74,233054,01-03-2018 20:25,0.0,0.0,0.014,0.012,Newsletter,5.48
42227,63_42227,63,42227,01-02-2018 22:51,NaN,NaN,0.011,0.012,Newsletter,5.48
238916,74_238916,74,238916,01-03-2018 20:29,0.0,0.0,0.014,0.012,Newsletter,5.48
67184,64_67184,64,67184,06-02-2018 15:15,NaN,NaN,0.012,0.012,Upcoming Events,4.36
64538,63_64538,63,64538,01-02-2018 23:05,0.0,4.0,0.011,0.012,Newsletter,5.48
83603,71_83603,71,83603,19-02-2018 16:05,0.0,1.0,0.012,0.012,Hackathon,2.68
13091,57_13091,57,13091,05-01-2018 18:33,0.0,0.0,0.014,0.012,Upcoming Events,4.36
216162,63_216162,63,216162,01-02-2018 23:09,1.0,1.0,0.011,0.012,Newsletter,5.48
111877,63_111877,63,111877,01-02-2018 23:08,0.0,0.0,0.011,0.012,Newsletter,5.48
163766,63_163766,63,163766,01-02-2018 22:57,0.0,1.0,0.011,0.012,Newsletter,5.48
40948,74_40948,74,40948,01-03-2018 21:00,NaN,NaN,0.014,0.012,Newsletter,5.48
59284,74_59284,74,59284,01-03-2018 20:50,0.0,0.0,0.014,0.012,Newsletter,5.48
232176,64_232176,64,232176,06-02-2018 15:12,0.0,0.0,0.012,0.012,Upcoming Events,4.36
65847,69_65847,69,65847,16-02-2018 12:03,NaN,NaN,0.012,0.012,Hackathon,2.41
200174,76_200174,76,200174,07-03-2018 11:45,0.0,0.0,0.012,0.012,Upcoming Events,5.36
191488,57_191488,57,191488,05-01-2018 18:03,0.0,0.0,0.014,0.012,Upcoming Events,4.36
42153,69_42153,69,42153,16-02-2018 12:04,0.0,2.0,0.012,0.012,Hackathon,2.41
127883,57_127883,57,127883,05-01-2018 18:30,0.0,0.0,0.014,0.012,Upcoming Events,4.36
153170,55_153170,55,153170,09-01-2018 15:35,0.0,0.0,0.012,0.012,Corporate,2.91
4034,57_4034,57,4034,05-01-2018 18:18,NaN,NaN,0.014,0.012,Upcoming Events,4.36
80370,74_80370,74,80370,01-03-2018 20:55,0.0,0.0,0.014,0.012,Newsletter,5.48
202929,74_202929,74,202929,01-03-2018 21:19,0.0,0.0,0.014,0.012,Newsletter,5.48
95437,56_95437,56,95437,02-01-2018 08:10,1.0,1.0,0.012,0.012,Newsletter,5.33
11063,63_11063,63,11063,01-02-2018 22:55,0.0,0.0,0.011,0.012,Newsletter,5.48
144182,72_144182,72,144182,22-02-2018 16:10,0.0,7.0,0.012,0.012,Corporate,2.18
226299,57_226299,57,226299,05-01-2018 18:03,0.0,0.0,0.014,0.012,Upcoming Events,4.36

In [1128]:
for j,k in category.items():
    for i in UniqueIds_click:
        Test.loc[Test[j].isnull()&Test['user_id']==i,j]=0

In [1129]:
Test.to_csv('Test_finaL.csv')

In [1195]:
for j,k in category.items():
    for i in UniqueIds_click:
        if i in Test.index:
            try:    
                if Test[j][i].any()==j:
                    Test[j][i]=1
                else:
                    Test[j][i]=0
            except:
                if Test[j][i]==j:
                    Test[j][i]=1
                else:
                    Test[j][i]=0

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
F:\Anaconda\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
F:\Anaconda\lib\site-packages\ipykernel\__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
F:\Anaconda\lib\site-packages\ipykernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [1169]:
Test['communication_type'][393]

'Newsletter'

In [1198]:
data

,id,user_id,campaign_id,send_date,is_open,is_click,U_cid_wts,U_oid_wts,time_of_day,weekend,communication_type,campaign_weight,Conference,Corporate,Hackathon,Newsletter,Others,Upcoming Events,Webinar
0,42_14051,14051,42,01-09-2017 19:55,0,0,0,0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,52_134438,134438,52,02-11-2017 12:53,0,0,0,0,0.012,0.012,Newsletter,5.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,33_181789,181789,33,24-07-2017 15:15,0,0,0,0,0.012,0.012,Others,3.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,44_231448,231448,44,05-09-2017 11:36,0,0,0,0,0.012,0.012,Upcoming Events,3.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29_185580,185580,29,01-07-2017 18:01,0,0,0,0,0.014,0.017,Newsletter,5.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,49_219916,219916,49,28-09-2017 15:53,0,0,0,0,0.012,0.012,Conference,5.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,42_177808,177808,42,01-09-2017 20:13,0,0,0,0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,42_133077,133077,42,01-09-2017 20:11,0,0,0,0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,49_185813,185813,49,28-09-2017 15:38,0,0,0,1,0.012,0.012,Conference,5.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,30_153565,153565,30,05-07-2017 14:10,0,0,0,0,0.012,0.012,Upcoming Events,4.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,30_111400,111400,30,05-07-2017 14:05,0,0,0,0,0.012,0.012,Upcoming Events,4.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,33_140458,140458,33,24-07-2017 15:17,1,0,0,3,0.012,0.012,Others,3.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,30_124652,124652,30,05-07-2017 14:19,0,0,1,1,0.012,0.012,Upcoming Events,4.61,NaN,NaN,NaN,Newsletter,NaN,NaN,NaN
13,54_231024,231024,54,01-12-2017 20:15,0,0,0,0,0.014,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,52_65386,65386,52,02-11-2017 12:36,0,0,0,0,0.012,0.012,Newsletter,5.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,36_202143,202143,36,03-08-2017 17:13,0,0,0,1,0.012,0.012,Conference,2.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,53_224491,224491,53,06-11-2017 22:33,0,0,0,0,0.011,0.012,Conference,4.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,29_103665,103665,29,01-07-2017 18:05,0,0,0,4,0.014,0.017,Newsletter,5.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,53_109939,109939,53,06-11-2017 22:39,0,0,0,0,0.011,0.012,Conference,4.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,32_126586,126586,32,19-07-2017 12:03,1,0,0,1,0.012,0.012,Conference,4.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,54_30141,30141,54,01-12-2017 20:26,0,0,0,1,0.014,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,49_220553,220553,49,28-09-2017 15:53,0,0,0,0,0.012,0.012,Conference,5.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,33_48220,48220,33,24-07-2017 15:18,0,0,0,0,0.012,0.012,Others,3.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,54_132322,132322,54,01-12-2017 20:27,0,0,0,1,0.014,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,52_32415,32415,52,02-11-2017 13:07,0,0,0,0,0.012,0.012,Newsletter,5.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,48_50714,50714,48,02-10-2017 10:32,0,0,0,4,0.012,0.012,Newsletter,3.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,52_66144,66144,52,02-11-2017 12:34,0,0,0,0,0.012,0.012,Newsletter,5.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,32_72580,72580,32,19-07-2017 12:07,0,0,0,0,0.012,0.012,Conference,4.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,50_231598,231598,50,06-10-2017 14:42,0,0,0,0,0.012,0.012,Upcoming Events,4.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,42_118677,118677,42,01-09-2017 20:15,0,0,0,0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023161,30_230490,230490,30,05-07-2017 14:09,0,0,0,0,0.012,0.012,Upcoming Events,4.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023162,42_52546,52546,42,01-09-2017 20:14,0,0,0,0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023163,47_64520,64520,47,21-09-2017 23:31,0,0,0,0,0.011,0.012,Hackathon,2.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023164,53_103019,103019,53,06-11-2017 22:48,0,0,0,2,0.011,0.012,Conference,4.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023165,48_187164,187164,48,02-10-2017 10:10,1,0,0,1,0.012,0.012,Newsletter,3.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023166,32_222298,222298,32,19-07-2017 12:03,0,0,0,1,0.012,0.012,Conference,4.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023167,30_63983,63983,30,05-07-2017 14:06,1,0,0,3,0.012,0.012,Upcoming Events,4.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023168,36_94166,94166,36,03-08-2017 17:15,0,0,0,0,0.012,0.012,Conference,2.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023169,52_80797,80797,52,02-11-2017 12:49,0,0,0,0,0.012,0.012,Newsletter,5.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023170,54_237527,237527,54,01-12-2017 20:09,1,0,0,2,0.014,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023171,30_89308,89308,30,05-07-2017 14:06,0,0,0,1,0.012,0.012,Upcoming Events,4.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023172,36_97061,97061,36,03-08-2017 17:17,0,0,0,1,0.012,0.012,Conference,2.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023173,36_39315,39315,36,03-08-2017 17:18,0,0,0,1,0.012,0.012,Conference,2.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023174,44_172583,172583,44,05-09-2017 11:38,1,0,0,7,0.012,0.012,Upcoming Events,3.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023175,30_168589,168589,30,05-07-2017 14:16,0,0,0,0,0.012,0.012,Upcoming Events,4.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023176,32_63179,63179,32,19-07-2017 12:01,0,0,0,0,0.012,0.012,Conference,4.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023177,30_88021,88021,30,05-07-2017 14:09,0,0,0,0,0.012,0.012,Upcoming Events,4.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023178,48_138576,138576,48,02-10-2017 10:26,0,0,0,0,0.012,0.012,Newsletter,3.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023179,52_144526,144526,52,02-11-2017 12:47,0,0,0,2,0.012,0.012,Newsletter,5.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023180,42_4842,4842,42,01-09-2017 20:07,0,0,0,1,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023181,42_116916,116916,42,01-09-2017 19:54,0,0,0,0,0.014,0.012,Newsletter,5.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023182,34_156700,156700,34,01-08-2017 22:15,0,0,0,0,0.011,0.012,Newsletter,4.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023183,33_43304,43304,33,24-07-2017 14:51,0,0,0,1,0.012,0.012,Others,3.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023184,33_217051,217051,33,24-07-2017 15:16,0,0,0,0,0.012,0.012,Others,3.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023185,52_39493,39493,52,02-11-2017 12:34,0,0,0,0,0.012,0.012,Newsletter,5.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023186,29_232613,232613,29,01-07-2017 18:04,0,0,0,0,0.014,0.017,Newsletter,5.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023187,48_119204,119204,48,02-10-2017 10:23,1,0,0,5,0.012,0.012,Newsletter,3.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023188,33_235406,235406,33,26-07-2017 09:37,1,1,1,1,0.012,0.012,Others,3.31,0,0,0,0,Others,0,0
1023189,53_183424,183424,53,06-11-2017 22:53,0,0,0,1,0.011,0.012,Conference,4.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1023190,54_89219,89219,54,01-12-2017 20:20,0,0,0,0,0.014,0.012,Newsletter,5.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1159]:
if Test.loc[95437,'Newsletter'].any()=='Newsletter':
    print('d')
else: print('e')

d

In [1196]:
Test.to_csv('TEST_final.csv')

In [1194]:
Test=Test.set_index('user_id',drop=False)

In [1221]:
test=test.set_index('Unnamed: 0',drop=True)

In [1242]:
camp

,campaign_id,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,subject,email_url,campaign_wts,campaign_wts1,images,internal_links,sections,links,external_links,campaign_weight
campaign_id,,,,,,,,,,,,,,,,,
29,29,Newsletter,67,61,12,3,"Dear AVians,\r\r\r\n \r\r\r\nWe are shaping up...",Sneak Peek: A look at the emerging data scienc...,http://r.newsletters.analyticsvidhya.com/7um44...,6,6,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",6,5.40
30,30,Upcoming Events,18,14,7,1,"Dear AVians,\r\r\r\n \r\r\r\nAre your eager to...",[July] Data Science Expert Meetups & Competiti...,http://r.newsletters.analyticsvidhya.com/7up0e...,5,5,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",4,4.61
31,31,Conference,15,13,5,1,Early Bird Pricing Till August 07  Save upto ...,Last chance to convince your boss before the E...,http://r.newsletters.analyticsvidhya.com/7usym...,2,2,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",2,1.91
32,32,Conference,24,19,7,1,\r\r\r\n \r\r\r\nHi ?\r\r\r\n \r\r\r\nBefore I...,A.I. & Machine Learning: 5 reasons why you sho...,http://r.newsletters.analyticsvidhya.com/7uthl...,5,5,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",5,4.61
33,33,Others,7,3,1,1,Fireside Chat with DJ Patil - the master is he...,"[Delhi NCR] Fireside Chat with DJ Patil, Forme...",http://r.newsletters.analyticsvidhya.com/7uvlg...,4,4,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,3.31
34,34,Newsletter,75,64,12,4,\r\r\r\nAugust Newsletter\r\r\r\n \r\r\r\nDear...,"[AV Newsletter] Fireside Chat with DJ Patil, D...",http://r.newsletters.analyticsvidhya.com/7uwwu...,5,5,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",11,4.98
35,35,Others,9,2,1,1,Fireside Chat with DJ Patil - Watch Live!\r\r\...,Watch Live: Fireside Chat with DJ Patil,http://r.newsletters.analyticsvidhya.com/7ux6c...,2,2,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",7,2.20
36,36,Conference,13,11,2,1,Announcing Dr. Kirk Borne as Keynote Speaker\r...,"Dr Kirk Borne of Booz Allen Hamilton, to keyno...",http://r.newsletters.analyticsvidhya.com/7uxpa...,3,3,"(0.999, 3.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",2,2.41
37,37,Conference,9,7,3,1,Last day to save maximum on tickets\r\r\r\n \r...,[Last Day] Early Bird Offer on conference pass...,http://r.newsletters.analyticsvidhya.com/7uyr8...,1,1,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",2,1.41
38,38,Conference,28,26,12,3,Early Bird Pricing expires on August 07\r\r\r\...,Early Bird offer expires in 2 Days. Save your ...,http://r.newsletters.analyticsvidhya.com/7uz0p...,1,1,"(10.0, 19.0]","(7.0, 26.0]","(2.0, 6.0]","(9.0, 28.0]",2,2.86
39,39,Webinar,9,4,2,1,Analytics Vidhya & UpX Academy presents \r\r\r...,[New Webinar] Can non programmers join Big Dat...,http://r.newsletters.analyticsvidhya.com/7uza6...,2,2,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",5,2.07
40,40,Conference,10,8,2,1,Machine learning algorithms are considered bla...,"Visualizing Machine Learning with Anand S, CEO...",http://r.newsletters.analyticsvidhya.com/7v1x0...,1,1,"(0.999, 3.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",2,1.41
41,41,Corporate,14,10,2,1,Step into the Future of Artificial Intelligenc...,Participate at DataHack Summit 2017 - India's ...,http://r.newsletters.analyticsvidhya.com/7v3hw...,1,1,"(0.999, 3.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",4,1.41
42,42,Newsletter,88,79,13,4,September Newsletter\r\r\r\n \r\r\r\nDear AVia...,[September] Exciting days ahead with DataHack ...,http://r.newsletters.analyticsvidhya.com/7v3rd...,6,6,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",9,5.48
43,43,Corporate,11,7,3,1,\r\r\r\nHosted Your Corporate Hackathon Yet?\r...,Innovate and grow your business through Data H...,http://r.newsletters.analyticsvidhya.com/7v4ta...,1,1,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(9.0, 28.0]",4,1.41
44,44,Upcoming Events,60,56,19,6,[September Events]\r\r\r\n \r\r\r\nDear AVians...,"[September] Data Science Hackathons, Meetups a...",http://r.newsletters.analyticsvidhya.com/7veam...,4,4,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,3.68
45,45,Hackathon,7,3,2,1,Click Prediction\r\r\r\nData Science Hackathon...,Click Prediction | Data Science Hackathon | Wi...,http://r.newsletters.analyticsvidhya.com/7vgeh...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.68
46,46,Hackathon,7,3,2,1,Click Prediction\r\r\r\nData Science Hackathon...,[Starts Tonight] Click Prediction Hackathon | ...,http://r.newsletters.analyticsvidhya.com/7vj1a...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.68
47,47,Hackathon,8,4,2,1,\r\r\r\nCodeFest by IIT BHU\r\r\r\n[Coding Fes...,[New Hackathon] CodeFest by IIT BHU | Win Priz...,http://r.newsletters.analyticsvidhya.com/7vkvo...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.68
48,48,Newsletter,203,191,12,4,\r\r\r\nOctober Newsletter\r\r\r\n \r\r\r\nDea...,[October 2017] - Just a month to go! DataHack ...,http://r.newsletters.analyticsvidhya.com/7vlxl...,4,4,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",12,3.86
49,49,Conference,119,117,16,1,"Dear Patron,\r\r\r\n \r\r\r\nAnalytics Vidhya ...",Register @ DataHack Summit 2017 - India's Larg...,http://r.newsletters.analyticsvidhya.com/o7ohw...,6,6,"(10.0, 19.0]","(26.0, 191.0]","(0.999, 2.0]","(28.0, 203.0]",2,5.25
50,50,Upcoming Events,109,105,17,6,"[October Hackathons, Meetups, Events, Webinars...","[October] Data Science Hackathons, Meetups and...",http://r.newsletters.analyticsvidhya.com/7voke...,4,4,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,4.25
51,51,Hackathon,8,4,2,1,Upcoming Hackathons\r\r\r\n[Machine Learning] ...,[Data Science Hackathons] Cross -Sell & Churn ...,http://r.newsletters.analyticsvidhya.com/7vs95...,2,2,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.18
52,52,Newsletter,67,62,10,4,November Newsletter\r\r\r\n \r\r\r\nDear AVian...,[Newsletter] Stage for DataHack Summit 2017 is...,http://r.newsletters.analyticsvidhya.com/7vtb2...,6,6,"(3.0, 10.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",5,5.44
53,53,Conference,104,100,13,1,3 DAYS | 30 TALKS | 10 HACK SESSIONS | 6 WORKS...,[Register Now] Just 2 days to go for India's b...,http://r.newsletters.analyticsvidhya.com/7vv5g...,5,5,"(10.0, 19.0]","(26.0, 191.0]","(0.999, 2.0]","(28.0, 203.0]",4,4.75
54,54,Newsletter,63,58,8,4,December Newsletter\r\r\r\n \r\r\r\nDear AVian...,"[November Updates] - Announcing DataFest 2018,...",http://r.newsletters.analyticsvidhya.com/7vzmm...,6,6,"(3.0, 10.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",5,5.33
55,55,Corporate,11,7,5,1,Do you know? You can identify and hire the bes...,Hire Top Data Scientists In Less Than 24 Hours,http://r.newsletters.analyticsvidhya.com/7w2se...,4,1,"(3.0, 10.0]","(1.999, 7.0]","(0.999, 2.0]","(9.0, 28.0]",4,2.91
56,56,Newsletter,42,38,10,4,\r\r\r\nJanuary 2018 Newsletter\r\r\r\n \r\r\r...,[January] Year 2018 - Bigger & Exciting challe...,http://r.newsletters.analyticsvidhya.com/7w3uc...,6,6,"(3.0, 10.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,5.33
57,57,Upcoming Events,40,36,15,4,"[January - Hiring Hackathons, LearnUps, Contes...","[January 2018] Upcoming Hiring Hackathons, Lea...",http://r.newsletters.analyticsvidhya.com/7w43t...,4,4,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,4.36
58,58,Hackathon,6,2,2,1,Analytics Vidhya Hiring Hackathon\r\r\r\n \r\r...,[13 January] Get Hired with Analytics Vidhya H...,http://r.newsletters.analyticsvidhya.com/7w5y6...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.96
59,59,Corporate,8,4,5,1,Do you know? You can identify and hire the bes...,"Hire Top Talent From 1,00,000+ Data Scientists",http://r.newsletters.analyticsvidhya.com/7w6qm...,4,1,"(3.0, 10.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,3.18
60,60,Corporate,11,7,3,3,"Get Over 100,000 Data Scientists To Solve Your...",Get 1000+ Data-Driven Solutions For Your Busin...,http://r.newsletters.analyticsvidhya.com/7w704...,3,1,"(0.999, 3.0]","(1.999, 7.0]","(2.0, 6.0]","(9.0, 28.0]",4,2.64
61,61,Corporate,8,4,9,1,Searching For Top Data Scientists To Join Your...,Recruit Top Data Science Professionals (Chief ...,http://r.newsletters.analyticsvidhya.com/7wghg...,3,1,"(3.0, 10.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,3.11
62,62,Hackathon,7,3,2,1,\r\r\r\nFelicity'18 - Kings Of Machine Learnin...,[24 Jan] IIIT Hyderabad - Felicity'18 Machine ...,http://r.newsletters.analyticsvidhya.com/7wh9w...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.68
63,63,Newsletter,68,64,15,5,\r\r\r\nFebruary 2018 Newsletter\r\r\r\n \r\r\...,"AVbytes, Ultimate 2018 learning path and aweso...",http://r.newsletters.analyticsvidhya.com/7whsu...,6,6,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,5.48
64,64,Upcoming Events,49,45,14,4,"[February - Hiring Hackathons, LearnUps, Conte...","[February 2018] Upcoming Hiring Hackathons, Da...",http://r.newsletters.analyticsvidhya.com/7wjn8...,4,4,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,4.36
65,65,Hackathon,7,3,1,1,IEOR @ IITB & McKinsey Knowledge Centre India ...,[New Hackathon] The Young Optimization Cracker...,http://r.newsletters.analyticsvidhya.com/7wjwp...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.81
66,66,Corporate,16,12,13,1,Not Able To Train Your Data Science Team On Ar...,4 Top Data Science Trainings For Your Team,http://r.newsletters.analyticsvidhya.com/7wkfo...,2,6,"(10.0, 19.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",4,2.37
67,67,Hackathon,7,3,1,1,Anheuser Busch InBev: Data Engineering Talent ...,[New Hackathon] ABInBev : Data Engineering Tal...,http://r.newsletters.analyticsvidhya.com/7wnby...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.81
68,68,Hackathon,7,3,1,1,"Dear Hacker,\r\r\r\n\r\r\r\nAnheuser Busch InB...",[Hiring Hackathon] ABInBev : Data Engineering ...,http://r.newsletters.analyticsvidhya.com/7wo4e...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.81
69,69,Hackathon,12,8,4,2,"Dear Hackers,\r\r\r\n\r\r\r\nHere is a great n...",[Open To All] The Young Optimization Crackerja...,http://r.newsletters.analyticsvidhya.com/7wowu...,3,3,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",4,2.41
70,70,Corporate,16,12,13,1,\r\r\r\nNot Able To Train Your Data Science Te...,Give Your Team The Edge In Machine Learning Wi...,http://r.newsletters.analyticsvidhya.com/7wppa...,2,6,"(10.0, 19.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",4,2.37
71,71,Hackathon,8,4,4,2,"Dear Hackers,\r\r\r\n \r\r\r\nGreat News for y...",[Hiring Hackathon] ABInBev is hiring Data Scie...,http://r.newsletters.analyticsvidhya.com/7wqhq...,3,3,"(3.0, 10.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.68
72,72,Corporate,22,15,5,1,\r\r\r\nAVBytes: Top Stories On Analytics Vidh...,Missing out on the latest happenings in AI? Ch...,http://r.newsletters.analyticsvidhya.com/7wra6...,1,2,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",7,2.18
73,73,Corporate,18,11,5,1,AVBytes: Top Stories On Analytics Vidhya This ...,Missing out on the latest happenings in AI? Ch...,http://r.newsletters.analyticsvidhya.com/7wrjo...,1,2,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",7,1.80
74,74,Newsletter,140,130,15,4,March 2018 Newsletter\r\r\r\n \r\r\r\nDear Avi...,"[March Newsletter] AV Android App, DataHack Pr...",http://r.newsletters.analyticsvidhya.com/7ww0u...,6,6,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",10,5.48
75,75,Upcoming Events,39,35,15,6,"[March 2018 - Hackathons, Competitions, Cash p...",[March 2018] It's Back: McKinsey Analytics Onl...,http://r.newsletters.analyticsvidhya.com/7wx2s...,6,4,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,5.36
76,76,Upcoming Events,35,31,15,6,"[March 2018 - Hackathons, Competitions, Cash p...",[March 2018] It's Back: McKinsey Analytics Onl...,http://r.newsletters.analyticsvidhya.com/7wxlq...,6,4,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,5.36
77,77,Corporate,24,16,5,1,Hiring Data Scientists & Data Engineers?\r\r\r...,Recruiting Data Scientists? Follow These 5 Bes...,http://r.newsletters.analyticsvidhya.com/7wxv8...,4,1,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",8,3.68
78,78,Hackathon,6,2,1,1,McKinsey Analytics Online Hackathon\r\r\r\nRec...,24 Hours To Go For McKinsey 24-hour Hackathon ...,http://r.newsletters.analyticsvidhya.com/7wz6m...,3,1,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,3.09
79,79,Hackathon,6,2,1,1,McKinsey Analytics Online Hackathon\r\r\r\nRec...,12 Hours To Go For McKinsey 24-hour Hackathon ...,http://r.newsletters.analyticsvidhya.com/7wzpl...,3,1,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,3.09
80,80,Corporate,12,8,5,1,Hiring Data Scientists & Data Engineers?\r\r\r...,Do You Follow These 5 Best Practices For Recru...,http://r.newsletters.analyticsvidhya.com/7x08k...,4,1,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",4,2.91

In [1250]:
test.to_csv('Test_FinaL.csv')

In [1243]:
test.communication_type.unique()

array(['Newsletter', 'Upcoming Events', 'Hackathon', 'Corporate'], dtype=object)

In [1245]:
test=pd.get_dummies(test,columns=['communication_type'])

In [1246]:
data=pd.get_dummies(data,columns=['communication_type'])

In [1248]:
test['communication_type_Others']=0
test['communication_type_Webinar']=0
test['communication_type_Conference']=0

In [1258]:
Test.to_csv('Test_FinaL_nonan.csv')

In [1256]:
Test=Test.fillna({'U_cid_wts':0,'U_oid_wts':0})

In [397]:
uc_corr=uc_corr.set_index('user_id')

In [398]:
Dat=Data.join(uc_corr,on='user_id')

In [367]:
ucdict={}
for i in U_C_corr['category'].unique():
    ucdict[i]=U_C_corr.user_id[U_C_corr['category']==i].values.tolist()

In [952]:
comm=pd.DataFrame(camp['communication_type'])

In [966]:
campwt=pd.DataFrame(camp['campaign_weight'])

In [962]:
data= data.join(comm, on='campaign_id')

In [968]:
data=data.join(campwt,on='campaign_id')

In [963]:
test=test.join(comm, on='campaign_id')

In [969]:
test=test.join(campwt,on='campaign_id')

In [971]:
data

,id,user_id,campaign_id,send_date,is_open,is_click,U_cid_wts,U_oid_wts,time_of_day,weekend,communication_type,campaign_weight
0,42_14051,14051,42,01-09-2017 19:55,0,0,0,0,0.014,0.012,Newsletter,5.48
1,52_134438,134438,52,02-11-2017 12:53,0,0,0,0,0.012,0.012,Newsletter,5.44
2,33_181789,181789,33,24-07-2017 15:15,0,0,0,0,0.012,0.012,Others,3.31
3,44_231448,231448,44,05-09-2017 11:36,0,0,0,0,0.012,0.012,Upcoming Events,3.68
4,29_185580,185580,29,01-07-2017 18:01,0,0,0,0,0.014,0.017,Newsletter,5.40
5,49_219916,219916,49,28-09-2017 15:53,0,0,0,0,0.012,0.012,Conference,5.25
6,42_177808,177808,42,01-09-2017 20:13,0,0,0,0,0.014,0.012,Newsletter,5.48
7,42_133077,133077,42,01-09-2017 20:11,0,0,0,0,0.014,0.012,Newsletter,5.48
8,49_185813,185813,49,28-09-2017 15:38,0,0,0,1,0.012,0.012,Conference,5.25
9,30_153565,153565,30,05-07-2017 14:10,0,0,0,0,0.012,0.012,Upcoming Events,4.61
10,30_111400,111400,30,05-07-2017 14:05,0,0,0,0,0.012,0.012,Upcoming Events,4.61
11,33_140458,140458,33,24-07-2017 15:17,1,0,0,3,0.012,0.012,Others,3.31
12,30_124652,124652,30,05-07-2017 14:19,0,0,1,1,0.012,0.012,Upcoming Events,4.61
13,54_231024,231024,54,01-12-2017 20:15,0,0,0,0,0.014,0.012,Newsletter,5.33
14,52_65386,65386,52,02-11-2017 12:36,0,0,0,0,0.012,0.012,Newsletter,5.44
15,36_202143,202143,36,03-08-2017 17:13,0,0,0,1,0.012,0.012,Conference,2.41
16,53_224491,224491,53,06-11-2017 22:33,0,0,0,0,0.011,0.012,Conference,4.75
17,29_103665,103665,29,01-07-2017 18:05,0,0,0,4,0.014,0.017,Newsletter,5.40
18,53_109939,109939,53,06-11-2017 22:39,0,0,0,0,0.011,0.012,Conference,4.75
19,32_126586,126586,32,19-07-2017 12:03,1,0,0,1,0.012,0.012,Conference,4.61
20,54_30141,30141,54,01-12-2017 20:26,0,0,0,1,0.014,0.012,Newsletter,5.33
21,49_220553,220553,49,28-09-2017 15:53,0,0,0,0,0.012,0.012,Conference,5.25
22,33_48220,48220,33,24-07-2017 15:18,0,0,0,0,0.012,0.012,Others,3.31
23,54_132322,132322,54,01-12-2017 20:27,0,0,0,1,0.014,0.012,Newsletter,5.33
24,52_32415,32415,52,02-11-2017 13:07,0,0,0,0,0.012,0.012,Newsletter,5.44
25,48_50714,50714,48,02-10-2017 10:32,0,0,0,4,0.012,0.012,Newsletter,3.86
26,52_66144,66144,52,02-11-2017 12:34,0,0,0,0,0.012,0.012,Newsletter,5.44
27,32_72580,72580,32,19-07-2017 12:07,0,0,0,0,0.012,0.012,Conference,4.61
28,50_231598,231598,50,06-10-2017 14:42,0,0,0,0,0.012,0.012,Upcoming Events,4.25
29,42_118677,118677,42,01-09-2017 20:15,0,0,0,0,0.014,0.012,Newsletter,5.48
...,...,...,...,...,...,...,...,...,...,...,...,...
1023161,30_230490,230490,30,05-07-2017 14:09,0,0,0,0,0.012,0.012,Upcoming Events,4.61
1023162,42_52546,52546,42,01-09-2017 20:14,0,0,0,0,0.014,0.012,Newsletter,5.48
1023163,47_64520,64520,47,21-09-2017 23:31,0,0,0,0,0.011,0.012,Hackathon,2.68
1023164,53_103019,103019,53,06-11-2017 22:48,0,0,0,2,0.011,0.012,Conference,4.75
1023165,48_187164,187164,48,02-10-2017 10:10,1,0,0,1,0.012,0.012,Newsletter,3.86
1023166,32_222298,222298,32,19-07-2017 12:03,0,0,0,1,0.012,0.012,Conference,4.61
1023167,30_63983,63983,30,05-07-2017 14:06,1,0,0,3,0.012,0.012,Upcoming Events,4.61
1023168,36_94166,94166,36,03-08-2017 17:15,0,0,0,0,0.012,0.012,Conference,2.41
1023169,52_80797,80797,52,02-11-2017 12:49,0,0,0,0,0.012,0.012,Newsletter,5.44
1023170,54_237527,237527,54,01-12-2017 20:09,1,0,0,2,0.014,0.012,Newsletter,5.33
1023171,30_89308,89308,30,05-07-2017 14:06,0,0,0,1,0.012,0.012,Upcoming Events,4.61
1023172,36_97061,97061,36,03-08-2017 17:17,0,0,0,1,0.012,0.012,Conference,2.41
1023173,36_39315,39315,36,03-08-2017 17:18,0,0,0,1,0.012,0.012,Conference,2.41
1023174,44_172583,172583,44,05-09-2017 11:38,1,0,0,7,0.012,0.012,Upcoming Events,3.68
1023175,30_168589,168589,30,05-07-2017 14:16,0,0,0,0,0.012,0.012,Upcoming Events,4.61
1023176,32_63179,63179,32,19-07-2017 12:01,0,0,0,0,0.012,0.012,Conference,4.61
1023177,30_88021,88021,30,05-07-2017 14:09,0,0,0,0,0.012,0.012,Upcoming Events,4.61
1023178,48_138576,138576,48,02-10-2017 10:26,0,0,0,0,0.012,0.012,Newsletter,3.86
1023179,52_144526,144526,52,02-11-2017 12:47,0,0,0,2,0.012,0.012,Newsletter,5.44
1023180,42_4842,4842,42,01-09-2017 20:07,0,0,0,1,0.014,0.012,Newsletter,5.48
1023181,42_116916,116916,42,01-09-2017 19:54,0,0,0,0,0.014,0.012,Newsletter,5.48
1023182,34_156700,156700,34,01-08-2017 22:15,0,0,0,0,0.011,0.012,Newsletter,4.98
1023183,33_43304,43304,33,24-07-2017 14:51,0,0,0,1,0.012,0.012,Others,3.31
1023184,33_217051,217051,33,24-07-2017 15:16,0,0,0,0,0.012,0.012,Others,3.31
1023185,52_39493,39493,52,02-11-2017 12:34,0,0,0,0,0.012,0.012,Newsletter,5.44
1023186,29_232613,232613,29,01-07-2017 18:04,0,0,0,0,0.014,0.017,Newsletter,5.40
1023187,48_119204,119204,48,02-10-2017 10:23,1,0,0,5,0.012,0.012,Newsletter,3.86
1023188,33_235406,235406,33,26-07-2017 09:37,1,1,1,1,0.012,0.012,Others,3.31
1023189,53_183424,183424,53,06-11-2017 22:53,0,0,0,1,0.011,0.012,Conference,4.75
1023190,54_89219,89219,54,01-12-2017 20:20,0,0,0,0,0.014,0.012,Newsletter,5.33

In [355]:
U_C_corr.index.values
U_C_index=U_C_corr.index.tolist()

array([('Conference', 44), ('Conference', 112), ('Conference', 158), ...,
       ('Webinar', 235000), ('Webinar', 236832), ('Webinar', 238494)], dtype=object)

In [353]:
camp.to_csv('campaignfinal.csv')

In [14]:
def freq_dist(feature,n):
    X=pd.DataFrame()
    X['Frequency_dist']=pd.qcut(feature['Frequency'],n)
    return pd.concat([feature,X],axis=1)

In [15]:
C_cid=freq_dist(C_cid,6)

In [212]:
camp_train=camp[0:26]

In [965]:
camp.head()

,campaign_id,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,subject,email_url,campaign_wts,campaign_wts1,images,internal_links,sections,links,external_links,campaign_weight
campaign_id,,,,,,,,,,,,,,,,,
29,29,Newsletter,67,61,12,3,"Dear AVians,\r\r\r\n \r\r\r\nWe are shaping up...",Sneak Peek: A look at the emerging data scienc...,http://r.newsletters.analyticsvidhya.com/7um44...,6,6,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",6,5.40
30,30,Upcoming Events,18,14,7,1,"Dear AVians,\r\r\r\n \r\r\r\nAre your eager to...",[July] Data Science Expert Meetups & Competiti...,http://r.newsletters.analyticsvidhya.com/7up0e...,5,5,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",4,4.61
31,31,Conference,15,13,5,1,Early Bird Pricing Till August 07  Save upto ...,Last chance to convince your boss before the E...,http://r.newsletters.analyticsvidhya.com/7usym...,2,2,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",2,1.91
32,32,Conference,24,19,7,1,\r\r\r\n \r\r\r\nHi ?\r\r\r\n \r\r\r\nBefore I...,A.I. & Machine Learning: 5 reasons why you sho...,http://r.newsletters.analyticsvidhya.com/7uthl...,5,5,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",5,4.61
33,33,Others,7,3,1,1,Fireside Chat with DJ Patil - the master is he...,"[Delhi NCR] Fireside Chat with DJ Patil, Forme...",http://r.newsletters.analyticsvidhya.com/7uvlg...,4,4,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,3.31

In [195]:
camp['images']=pd.qcut(camp['no_of_images'],3)

In [530]:
camp_train['images']=pd.qcut(camp_train['no_of_images'],4)

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [538]:
camp_test['images']=pd.qcut(camp_test['no_of_images'],4)

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [196]:
camp['internal_links']=pd.qcut(camp['no_of_internal_links'],3)

In [542]:
camp_test['internal_links']=pd.qcut(camp_test['no_of_internal_links'],4)

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [513]:
camp_train['internal_links']=pd.qcut(camp_train['no_of_internal_links'],4)

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [197]:
camp['sections']=pd.qcut(camp['no_of_sections'],3,duplicates='drop')

In [216]:
camp_train['sections']=pd.qcut(camp_train['no_of_sections'],3,duplicates='drop')

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [540]:
camp_test['sections']=pd.qcut(camp_test['no_of_sections'],3,duplicates='drop')

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [198]:
camp['links']=pd.qcut(camp['total_links'],3)

In [514]:
camp_train['links']=pd.qcut(camp_train['total_links'],4)

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [541]:
camp_test['links']=pd.qcut(camp_test['total_links'],4)

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [361]:
def order1(data,output,by):
    D=data.groupby([output,by],as_index=False)[by].agg({'Frequency':'count'})#.sort_values(by='Frequency',ascending=False)
    return D

In [519]:
def order1(data,output,bye):
    D=data[[output,bye]].groupby([output],as_index=False).mean().sort_values(by=bye,ascending=False)
    return D

In [ ]:
data.groupby(['time_of_day','campaign_wts'])['campaign_wts'].agg({'Frequency':'count'})

In [531]:
Cimg=order1(camp_train,'images','campaign_wts')

In [543]:
Cimgtest=order1(camp_test,'images','campaign_wts')

In [533]:
Cimg.reset_index(level=0,inplace=True)

In [580]:
Cimg

   index        images  campaign_wts
0      3  (12.0, 19.0]      5.000000
1      2   (6.0, 12.0]      4.750000
2      0  (0.999, 2.0]      2.400000
3      1    (2.0, 6.0]      1.333333

In [579]:
for i in Cimg['index']:
    Cimg.campaign_wts[Cimg['index']==i]

0    5.0
Name: campaign_wts, dtype: float64
1    4.75
Name: campaign_wts, dtype: float64
2    2.4
Name: campaign_wts, dtype: float64
3    1.333333
Name: campaign_wts, dtype: float64

In [630]:
camp['campaign_weight']=0

In [631]:
camp.campaign_wts[camp['campaign_id']==29]=6

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [950]:
#names=['links','internal_links','images','sections']

F=['total_links','no_of_internal_links','no_of_images','no_of_sections']
#def weights():
eps=0.01
for i in camp.campaign_id:
    val=camp.loc[camp['campaign_id']==i,F[0]].values    
    for n,k in enumerate(Ctotlnk['links']):
        try:
            if val> (k.left-eps)  and val< k.right :
                wt_1=Ctotlnk['campaign_wts'][n]
        except:
            if val==k.right:
                wt_1=Ctotlnk['campaign_wts'][n]
    val=camp.loc[camp['campaign_id']==i,F[1]].values
    for n,k in enumerate(Clnk['internal_links']):
        try:
            if val> (k.left-eps) and val< k.right:
                wt_2=Clnk['campaign_wts'][n]
        except:
            if val==k.right:
                wt_2=Clnk['campaign_wts'][n]
    val=camp.loc[camp['campaign_id']==i,F[2]].values
    for n,k in enumerate(Cimg['images']):
        try:
            if val> (k.left-eps) and val< k.right:
                wt_3=Cimg['campaign_wts'][n]
        except:
            if val==k.right:
                wt_3=Cimg['campaign_wts'][n]
    val=camp.loc[camp['campaign_id']==i,F[3]].values
    for n,k in enumerate(Csec['sections']):
        try:
            if val> k.left and val< k.right:
                wt_4=Csec['campaign_wts'][n]
        except:
            if val==k.right:
                wt_4=Csec['campaign_wts'][n]
    #print(wt_1,wt_2,wt_3,wt_4)
    camp.loc[camp['campaign_id']==i,'campaign_weight']=round((((wt_1+wt_2+wt_3+wt_4)/4)+(camp.campaign_wts[i]))/2,2)
    print('id'+str(i),camp.campaign_weight[i],camp.campaign_wts[i])

id29 5.4 6
id30 4.61 5
id31 1.91 2
id32 4.61 5
id33 3.31 4
id34 4.98 5
id35 2.2 2
id36 2.41 3
id37 1.41 1
id38 2.86 1
id39 2.07 2
id40 1.41 1
id41 1.41 1
id42 5.48 6
id43 1.41 1
id44 3.68 4
id45 2.68 3
id46 2.68 3
id47 2.68 3
id48 3.86 4
id49 5.25 6
id50 4.25 4
id51 2.18 2
id52 5.44 6
id53 4.75 5
id54 5.33 6
id55 2.91 4
id56 5.33 6
id57 4.36 4
id58 2.96 3
id59 3.18 4
id60 2.64 3
id61 3.11 3
id62 2.68 3
id63 5.48 6
id64 4.36 4
id65 2.81 3
id66 2.37 2
id67 2.81 3
id68 2.81 3
id69 2.41 3
id70 2.37 2
id71 2.68 3
id72 2.18 1
id73 1.8 1
id74 5.48 6
id75 5.36 6
id76 5.36 6
id77 3.68 4
id78 3.09 3
id79 3.09 3
id80 2.91 4

In [520]:
Clnk=order1(camp_train,'internal_links','campaign_wts')

In [655]:
Ctotlnk=order1(camp_train,'links','campaign_wts')

In [656]:
Ctotlnk.reset_index(level=0,inplace=True)

In [671]:
Ctotlnk

   index          links  campaign_wts
0      3  (67.0, 203.0]      5.000000
1      2   (16.5, 67.0]      4.714286
2      0   (6.999, 9.0]      2.500000
3      1    (9.0, 16.5]      1.600000

In [666]:
Clnk.reset_index(level=0,inplace=True)

In [668]:
Clnk

   index  internal_links  campaign_wts
0      3  (61.75, 191.0]      5.142857
1      2   (13.5, 61.75]      4.500000
2      0   (1.999, 4.75]      2.714286
3      1    (4.75, 13.5]      1.500000

In [277]:
Csec=order1(camp_train,'sections','campaign_wts')

In [669]:
Csec.reset_index(level=0,inplace=True)

In [670]:
Csec

   index        sections  campaign_wts
0      1    (2.333, 6.0]      4.666667
1      0  (0.999, 2.333]      2.882353

In [691]:
camp.to_csv('Campaign_Final.csv')

In [21]:
def priority(feature,n=1): # set 0 for User ids esle 1 for Camp ids
    j=feature.columns.values[n]
    l=len(feature[j].unique())
    t={}
    for n,key in enumerate(feature[j].unique()):
        try:
            t[l-n]=[x[1] for x in (feature[feature[j]==key].index.tolist())]
        except:
            print('Error in adding to dict')
    return t

In [22]:
C_cid_feature=priority(C_cid)

In [280]:
C_cid_feature

{1: [40, 38, 37, 41, 43],
 2: [35, 51, 39, 31],
 3: [45, 36, 46, 47],
 4: [48, 50, 33, 44],
 5: [30, 53, 32, 34],
 6: [52, 29, 42, 49, 54]}

In [282]:
camp=camp.set_index('campaign_id',drop=False)

In [299]:
#without email body
text={}
trainer=[]
for key,val in C_cid_feature.items():
    for i in val:
        try:
            text[key].append(camp.subject[i]+' '+camp.communication_type[i])
        except:
            text[key]=[camp.subject[i],camp.communication_type[i]]
        trainer.append(i)

In [303]:
#with email body
text={}
trainer=[]
for key,val in C_cid_feature.items():
    for i in val:
        try:
            text[key].append(camp.subject[i]+' '+camp.communication_type[i]+' '+camp.email_body[i])
        except:
            text[key]=[camp.subject[i],camp.communication_type[i]+' '+camp.email_body[i]]
        trainer.append(i)

In [304]:
to_train=list(filter(lambda x: x not in trainer,camp.index.values))

In [308]:
#def weight_selector(trainer,to_trainer,camp):
wt={};wt1={}
for i in to_train:
    m={};n={}
    text1=camp.subject[i]+' '+camp.communication_type[i]+' '+camp.email_body[i]
    for key,val in text.items():
        l=[];c=[]
        for j in val:
            tot=intersection(text1,j)
            l.append(tot)
            cos=cosine_similarity(text1,j)
            c.append(cos)
        e=len(l)-1

        if l[e-1]==l[e] and (l[e]==1 or l[e]==2):
            if l[e-1]==l[e-2]:
                if l[e-2]==l[e-3]:
                    m[key]=e-3
                else: m[key]=e-2
            else: m[key]=e-1
        else:
            m[key]=max(l)
        n[key]=max(c)
    a=max(m.items(), key=operator.itemgetter(1))    
    b=max(n.items(), key=operator.itemgetter(1))
    d=list(m.values())
    h=len(text)-1
    if d[h-1]==d[h] and (d[h]==1 or d[h]==2):
        if d[h-1]==d[h-2]:
            if d[h-2]==d[h-3]:
                wt[i]=h-3
            else: wt[i]=h-2
        else: wt[i]=h-1
    else:
        wt[i]=a[0]
    wt1[i]=b[0]

In [312]:
wt_withbody

{55: 1,
 56: 6,
 57: 4,
 58: 3,
 59: 1,
 60: 1,
 61: 1,
 62: 3,
 63: 6,
 64: 4,
 65: 3,
 66: 6,
 67: 3,
 68: 3,
 69: 3,
 70: 6,
 71: 3,
 72: 2,
 73: 2,
 74: 6,
 75: 4,
 76: 4,
 77: 1,
 78: 1,
 79: 1,
 80: 1}

In [311]:
wt_withoutbody

{55: 4,
 56: 6,
 57: 4,
 58: 3,
 59: 4,
 60: 3,
 61: 3,
 62: 3,
 63: 6,
 64: 4,
 65: 3,
 66: 2,
 67: 3,
 68: 3,
 69: 3,
 70: 2,
 71: 3,
 72: 1,
 73: 1,
 74: 6,
 75: 6,
 76: 6,
 77: 4,
 78: 3,
 79: 3,
 80: 4}

In [29]:
def invert(d):
    return dict( (v,k) for k in d for v in d[k] )

In [30]:
c_wts=invert(C_cid_feature)

In [210]:
camp.to_csv('campfinal.csv')

In [313]:
C_wts={**c_wts,**wt_withoutbody}

In [314]:
C_wts1={**c_wts,**wt_withbody}

In [35]:
data['cwt']=0

In [138]:
data['cwt1']=0

In [39]:
test=pd.read_csv('test.csv')
test.head()

          id  campaign_id  user_id         send_date
0  63_122715           63   122715  01-02-2018 22:35
1   56_76206           56    76206  02-01-2018 08:15
2   57_96189           57    96189  05-01-2018 18:25
3  56_166917           56   166917  02-01-2018 08:15
4  56_172838           56   172838  02-01-2018 08:12

In [36]:
for key,val in c_wts.items():
    data.cwt[data['campaign_id']==key]=val

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [40]:
test['cwt']=0

In [41]:
for key,val in wt.items():
    test.cwt[test['campaign_id']==key]=val

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [140]:
test['cwt1']=0

In [142]:
for key,val in wt1.items():
    test.cwt1[test['campaign_id']==key]=val

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [315]:
camp['campaign_wts']=0

In [316]:
for key,val in C_wts.items():
    camp.campaign_wts[camp['campaign_id']==key]=val

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [317]:
camp['campaign_wts1']=0

In [318]:
for key,val in C_wts1.items():
    camp.campaign_wts1[camp['campaign_id']==key]=val

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [949]:
camp

,campaign_id,communication_type,total_links,no_of_internal_links,no_of_images,no_of_sections,email_body,subject,email_url,campaign_wts,campaign_wts1,images,internal_links,sections,links,external_links,campaign_weight
campaign_id,,,,,,,,,,,,,,,,,
29,29,Newsletter,67,61,12,3,"Dear AVians,\r\r\r\n \r\r\r\nWe are shaping up...",Sneak Peek: A look at the emerging data scienc...,http://r.newsletters.analyticsvidhya.com/7um44...,6,6,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",6,5.40
30,30,Upcoming Events,18,14,7,1,"Dear AVians,\r\r\r\n \r\r\r\nAre your eager to...",[July] Data Science Expert Meetups & Competiti...,http://r.newsletters.analyticsvidhya.com/7up0e...,5,5,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",4,4.61
31,31,Conference,15,13,5,1,Early Bird Pricing Till August 07  Save upto ...,Last chance to convince your boss before the E...,http://r.newsletters.analyticsvidhya.com/7usym...,2,2,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",2,1.91
32,32,Conference,24,19,7,1,\r\r\r\n \r\r\r\nHi ?\r\r\r\n \r\r\r\nBefore I...,A.I. & Machine Learning: 5 reasons why you sho...,http://r.newsletters.analyticsvidhya.com/7uthl...,5,5,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",5,4.61
33,33,Others,7,3,1,1,Fireside Chat with DJ Patil - the master is he...,"[Delhi NCR] Fireside Chat with DJ Patil, Forme...",http://r.newsletters.analyticsvidhya.com/7uvlg...,4,4,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,3.31
34,34,Newsletter,75,64,12,4,\r\r\r\nAugust Newsletter\r\r\r\n \r\r\r\nDear...,"[AV Newsletter] Fireside Chat with DJ Patil, D...",http://r.newsletters.analyticsvidhya.com/7uwwu...,5,5,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",11,4.98
35,35,Others,9,2,1,1,Fireside Chat with DJ Patil - Watch Live!\r\r\...,Watch Live: Fireside Chat with DJ Patil,http://r.newsletters.analyticsvidhya.com/7ux6c...,2,2,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",7,2.20
36,36,Conference,13,11,2,1,Announcing Dr. Kirk Borne as Keynote Speaker\r...,"Dr Kirk Borne of Booz Allen Hamilton, to keyno...",http://r.newsletters.analyticsvidhya.com/7uxpa...,3,3,"(0.999, 3.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",2,2.41
37,37,Conference,9,7,3,1,Last day to save maximum on tickets\r\r\r\n \r...,[Last Day] Early Bird Offer on conference pass...,http://r.newsletters.analyticsvidhya.com/7uyr8...,1,1,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",2,1.41
38,38,Conference,28,26,12,3,Early Bird Pricing expires on August 07\r\r\r\...,Early Bird offer expires in 2 Days. Save your ...,http://r.newsletters.analyticsvidhya.com/7uz0p...,1,1,"(10.0, 19.0]","(7.0, 26.0]","(2.0, 6.0]","(9.0, 28.0]",2,2.86
39,39,Webinar,9,4,2,1,Analytics Vidhya & UpX Academy presents \r\r\r...,[New Webinar] Can non programmers join Big Dat...,http://r.newsletters.analyticsvidhya.com/7uza6...,2,2,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",5,2.07
40,40,Conference,10,8,2,1,Machine learning algorithms are considered bla...,"Visualizing Machine Learning with Anand S, CEO...",http://r.newsletters.analyticsvidhya.com/7v1x0...,1,1,"(0.999, 3.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",2,1.41
41,41,Corporate,14,10,2,1,Step into the Future of Artificial Intelligenc...,Participate at DataHack Summit 2017 - India's ...,http://r.newsletters.analyticsvidhya.com/7v3hw...,1,1,"(0.999, 3.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",4,1.41
42,42,Newsletter,88,79,13,4,September Newsletter\r\r\r\n \r\r\r\nDear AVia...,[September] Exciting days ahead with DataHack ...,http://r.newsletters.analyticsvidhya.com/7v3rd...,6,6,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",9,5.48
43,43,Corporate,11,7,3,1,\r\r\r\nHosted Your Corporate Hackathon Yet?\r...,Innovate and grow your business through Data H...,http://r.newsletters.analyticsvidhya.com/7v4ta...,1,1,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(9.0, 28.0]",4,1.41
44,44,Upcoming Events,60,56,19,6,[September Events]\r\r\r\n \r\r\r\nDear AVians...,"[September] Data Science Hackathons, Meetups a...",http://r.newsletters.analyticsvidhya.com/7veam...,4,4,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,3.68
45,45,Hackathon,7,3,2,1,Click Prediction\r\r\r\nData Science Hackathon...,Click Prediction | Data Science Hackathon | Wi...,http://r.newsletters.analyticsvidhya.com/7vgeh...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.68
46,46,Hackathon,7,3,2,1,Click Prediction\r\r\r\nData Science Hackathon...,[Starts Tonight] Click Prediction Hackathon | ...,http://r.newsletters.analyticsvidhya.com/7vj1a...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.68
47,47,Hackathon,8,4,2,1,\r\r\r\nCodeFest by IIT BHU\r\r\r\n[Coding Fes...,[New Hackathon] CodeFest by IIT BHU | Win Priz...,http://r.newsletters.analyticsvidhya.com/7vkvo...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.68
48,48,Newsletter,203,191,12,4,\r\r\r\nOctober Newsletter\r\r\r\n \r\r\r\nDea...,[October 2017] - Just a month to go! DataHack ...,http://r.newsletters.analyticsvidhya.com/7vlxl...,4,4,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",12,3.86
49,49,Conference,119,117,16,1,"Dear Patron,\r\r\r\n \r\r\r\nAnalytics Vidhya ...",Register @ DataHack Summit 2017 - India's Larg...,http://r.newsletters.analyticsvidhya.com/o7ohw...,6,6,"(10.0, 19.0]","(26.0, 191.0]","(0.999, 2.0]","(28.0, 203.0]",2,5.25
50,50,Upcoming Events,109,105,17,6,"[October Hackathons, Meetups, Events, Webinars...","[October] Data Science Hackathons, Meetups and...",http://r.newsletters.analyticsvidhya.com/7voke...,4,4,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,4.25
51,51,Hackathon,8,4,2,1,Upcoming Hackathons\r\r\r\n[Machine Learning] ...,[Data Science Hackathons] Cross -Sell & Churn ...,http://r.newsletters.analyticsvidhya.com/7vs95...,2,2,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.18
52,52,Newsletter,67,62,10,4,November Newsletter\r\r\r\n \r\r\r\nDear AVian...,[Newsletter] Stage for DataHack Summit 2017 is...,http://r.newsletters.analyticsvidhya.com/7vtb2...,6,6,"(3.0, 10.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",5,5.44
53,53,Conference,104,100,13,1,3 DAYS | 30 TALKS | 10 HACK SESSIONS | 6 WORKS...,[Register Now] Just 2 days to go for India's b...,http://r.newsletters.analyticsvidhya.com/7vv5g...,5,5,"(10.0, 19.0]","(26.0, 191.0]","(0.999, 2.0]","(28.0, 203.0]",4,4.75
54,54,Newsletter,63,58,8,4,December Newsletter\r\r\r\n \r\r\r\nDear AVian...,"[November Updates] - Announcing DataFest 2018,...",http://r.newsletters.analyticsvidhya.com/7vzmm...,6,6,"(3.0, 10.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",5,5.33
55,55,Corporate,11,7,5,1,Do you know? You can identify and hire the bes...,Hire Top Data Scientists In Less Than 24 Hours,http://r.newsletters.analyticsvidhya.com/7w2se...,4,1,"(3.0, 10.0]","(1.999, 7.0]","(0.999, 2.0]","(9.0, 28.0]",4,2.91
56,56,Newsletter,42,38,10,4,\r\r\r\nJanuary 2018 Newsletter\r\r\r\n \r\r\r...,[January] Year 2018 - Bigger & Exciting challe...,http://r.newsletters.analyticsvidhya.com/7w3uc...,6,6,"(3.0, 10.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,5.33
57,57,Upcoming Events,40,36,15,4,"[January - Hiring Hackathons, LearnUps, Contes...","[January 2018] Upcoming Hiring Hackathons, Lea...",http://r.newsletters.analyticsvidhya.com/7w43t...,4,4,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,4.36
58,58,Hackathon,6,2,2,1,Analytics Vidhya Hiring Hackathon\r\r\r\n \r\r...,[13 January] Get Hired with Analytics Vidhya H...,http://r.newsletters.analyticsvidhya.com/7w5y6...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.96
59,59,Corporate,8,4,5,1,Do you know? You can identify and hire the bes...,"Hire Top Talent From 1,00,000+ Data Scientists",http://r.newsletters.analyticsvidhya.com/7w6qm...,4,1,"(3.0, 10.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,3.18
60,60,Corporate,11,7,3,3,"Get Over 100,000 Data Scientists To Solve Your...",Get 1000+ Data-Driven Solutions For Your Busin...,http://r.newsletters.analyticsvidhya.com/7w704...,3,1,"(0.999, 3.0]","(1.999, 7.0]","(2.0, 6.0]","(9.0, 28.0]",4,2.64
61,61,Corporate,8,4,9,1,Searching For Top Data Scientists To Join Your...,Recruit Top Data Science Professionals (Chief ...,http://r.newsletters.analyticsvidhya.com/7wghg...,3,1,"(3.0, 10.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,3.11
62,62,Hackathon,7,3,2,1,\r\r\r\nFelicity'18 - Kings Of Machine Learnin...,[24 Jan] IIIT Hyderabad - Felicity'18 Machine ...,http://r.newsletters.analyticsvidhya.com/7wh9w...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.68
63,63,Newsletter,68,64,15,5,\r\r\r\nFebruary 2018 Newsletter\r\r\r\n \r\r\...,"AVbytes, Ultimate 2018 learning path and aweso...",http://r.newsletters.analyticsvidhya.com/7whsu...,6,6,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,5.48
64,64,Upcoming Events,49,45,14,4,"[February - Hiring Hackathons, LearnUps, Conte...","[February 2018] Upcoming Hiring Hackathons, Da...",http://r.newsletters.analyticsvidhya.com/7wjn8...,4,4,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,4.36
65,65,Hackathon,7,3,1,1,IEOR @ IITB & McKinsey Knowledge Centre India ...,[New Hackathon] The Young Optimization Cracker...,http://r.newsletters.analyticsvidhya.com/7wjwp...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.81
66,66,Corporate,16,12,13,1,Not Able To Train Your Data Science Team On Ar...,4 Top Data Science Trainings For Your Team,http://r.newsletters.analyticsvidhya.com/7wkfo...,2,6,"(10.0, 19.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",4,2.37
67,67,Hackathon,7,3,1,1,Anheuser Busch InBev: Data Engineering Talent ...,[New Hackathon] ABInBev : Data Engineering Tal...,http://r.newsletters.analyticsvidhya.com/7wnby...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.81
68,68,Hackathon,7,3,1,1,"Dear Hacker,\r\r\r\n\r\r\r\nAnheuser Busch InB...",[Hiring Hackathon] ABInBev : Data Engineering ...,http://r.newsletters.analyticsvidhya.com/7wo4e...,3,3,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.81
69,69,Hackathon,12,8,4,2,"Dear Hackers,\r\r\r\n\r\r\r\nHere is a great n...",[Open To All] The Young Optimization Crackerja...,http://r.newsletters.analyticsvidhya.com/7wowu...,3,3,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",4,2.41
70,70,Corporate,16,12,13,1,\r\r\r\nNot Able To Train Your Data Science Te...,Give Your Team The Edge In Machine Learning Wi...,http://r.newsletters.analyticsvidhya.com/7wppa...,2,6,"(10.0, 19.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",4,2.37
71,71,Hackathon,8,4,4,2,"Dear Hackers,\r\r\r\n \r\r\r\nGreat News for y...",[Hiring Hackathon] ABInBev is hiring Data Scie...,http://r.newsletters.analyticsvidhya.com/7wqhq...,3,3,"(3.0, 10.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,2.68
72,72,Corporate,22,15,5,1,\r\r\r\nAVBytes: Top Stories On Analytics Vidh...,Missing out on the latest happenings in AI? Ch...,http://r.newsletters.analyticsvidhya.com/7wra6...,1,2,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",7,2.18
73,73,Corporate,18,11,5,1,AVBytes: Top Stories On Analytics Vidhya This ...,Missing out on the latest happenings in AI? Ch...,http://r.newsletters.analyticsvidhya.com/7wrjo...,1,2,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",7,1.80
74,74,Newsletter,140,130,15,4,March 2018 Newsletter\r\r\r\n \r\r\r\nDear Avi...,"[March Newsletter] AV Android App, DataHack Pr...",http://r.newsletters.analyticsvidhya.com/7ww0u...,6,6,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",10,5.48
75,75,Upcoming Events,39,35,15,6,"[March 2018 - Hackathons, Competitions, Cash p...",[March 2018] It's Back: McKinsey Analytics Onl...,http://r.newsletters.analyticsvidhya.com/7wx2s...,6,4,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,5.36
76,76,Upcoming Events,35,31,15,6,"[March 2018 - Hackathons, Competitions, Cash p...",[March 2018] It's Back: McKinsey Analytics Onl...,http://r.newsletters.analyticsvidhya.com/7wxlq...,6,4,"(10.0, 19.0]","(26.0, 191.0]","(2.0, 6.0]","(28.0, 203.0]",4,5.36
77,77,Corporate,24,16,5,1,Hiring Data Scientists & Data Engineers?\r\r\r...,Recruiting Data Scientists? Follow These 5 Bes...,http://r.newsletters.analyticsvidhya.com/7wxv8...,4,1,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",8,3.68
78,78,Hackathon,6,2,1,1,McKinsey Analytics Online Hackathon\r\r\r\nRec...,24 Hours To Go For McKinsey 24-hour Hackathon ...,http://r.newsletters.analyticsvidhya.com/7wz6m...,3,1,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,3.09
79,79,Hackathon,6,2,1,1,McKinsey Analytics Online Hackathon\r\r\r\nRec...,12 Hours To Go For McKinsey 24-hour Hackathon ...,http://r.newsletters.analyticsvidhya.com/7wzpl...,3,1,"(0.999, 3.0]","(1.999, 7.0]","(0.999, 2.0]","(5.999, 9.0]",4,3.09
80,80,Corporate,12,8,5,1,Hiring Data Scientists & Data Engineers?\r\r\r...,Do You Follow These 5 Best Practices For Recru...,http://r.newsletters.analyticsvidhya.com/7x08k...,4,1,"(3.0, 10.0]","(7.0, 26.0]","(0.999, 2.0]","(9.0, 28.0]",4,2.91

In [42]:
C_oid=order(data,'is_open',1,'campaign_id')

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  from ipykernel import kernelapp as app

In [78]:
U_oid=order(data,'is_open',1,'user_id')

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  from ipykernel import kernelapp as app

In [ ]:
U_oid.head()

In [79]:
U_oid=priority(U_oid,n=0)

In [82]:
2+2

4

In [81]:
test['U_oid_wts']=0

In [83]:
for key,val in U_oid.items():
    for i in val:
        test.loc[test['user_id']==i,'U_oid_wts']=key

In [ ]:
data.to_csv('output.csv')

In [ ]:
data.head()

In [46]:
U_cid=order(data,'is_click',1,'user_id')

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  from ipykernel import kernelapp as app

In [321]:
U_cid

{1: [162056,
  175312,
  175332,
  175340,
  161258,
  173629,
  175428,
  161300,
  162724,
  162708,
  173622,
  173662,
  161295,
  162049,
  175397,
  162730,
  173607,
  174619,
  162100,
  175373,
  174200,
  162123,
  175716,
  162839,
  175547,
  175659,
  174486,
  173527,
  174540,
  162236,
  160963,
  173421,
  162758,
  173393,
  162229,
  160949,
  174595,
  162143,
  175747,
  173380,
  174552,
  173570,
  175544,
  162130,
  162827,
  161115,
  174443,
  162767,
  162775,
  161084,
  162125,
  162260,
  174447,
  162019,
  173606,
  162255,
  175514,
  173598,
  162824,
  161010,
  161003,
  162247,
  174454,
  174706,
  161314,
  174954,
  174044,
  162170,
  161624,
  161752,
  161758,
  174803,
  162562,
  173974,
  162569,
  162341,
  161616,
  162295,
  174959,
  174802,
  173960,
  162570,
  161764,
  161578,
  174969,
  173931,
  174369,
  161561,
  162511,
  174812,
  162480,
  162369,
  174229,
  174847,
  174187,
  174856,
  161663,
  174862,
  162419,
  174146,
  174106,
  174095,
  162429,
  174828,
  162409,
  174868,
  162404,
  161640,
  174061,
  174233,
  174055,
  174359,
  161636,
  174798,
  174778,
  175011,
  175238,
  174708,
  161721,
  161398,
  173765,
  174436,
  174645,
  162312,
  161354,
  174631,
  161921,
  173737,
  175261,
  161981,
  175279,
  161326,
  161321,
  173726,
  162311,
  175294,
  162694,
  162306,
  161876,
  175185,
  162580,
  173794,
  175113,
  161545,
  161768,
  162588,
  174384,
  173853,
  174394,
  161797,
  174398,
  162591,
  174742,
  162633,
  161452,
  173838,
  174404,
  162332,
  161826,
  174411,
  161439,
  161437,
  161843,
  162559,
  168291,
  162854,
  166383,
  169904,
  166491,
  169914,
  169929,
  166482,
  166466,
  166431,
  169930,
  169956,
  169985,
  170192,
  169987,
  170029,
  166376,
  166326,
  166304,
  166264,
  166228,
  170080,
  166211,
  169869,
  166500,
  166540,
  169856,
  169450,
  169485,
  169517,
  169569,
  169640,
  166697,
  166694,
  166680,
  166649,
  169667,
  169730,
  169786,
  169809,
  169812,
  166558,
  166556,
  166545,
  169821,
  169835,
  166204,
  170194,
  170896,
  170849,
  165762,
  165758,
  165744,
  165716,
  165698,
  170782,
  165633,
  165617,
  170821,
  165586,
  170195,
  165552,
  165498,
  170863,
  165471,
  165461,
  165375,
  170866,
  170868,
  165332,
  170765,
  170696,
  170670,
  170618,
  166085,
  170201,
  170208,
  170282,
  170299,
  165919,
  170351,
  170356,
  165910,
  170389,
  165884,
  165880,
  170398,
  170435,
  170444,
  170451,
  170520,
  165827,
  170602,
  169444,
  166860,
  166868,
  168719,
  167986,
  167960,
  167937,
  167900,
  167829,
  167799,
  167789,
  167777,
  168695,
  167738,
  169419,
  168751,
  168771,
  167734,
  167727,
  167578,
  167568,
  167559,
  168777,
  168788,
  168015,
  168070,
  168110,
  168643,
  168283,
  168300,
  168279,
  168351,
  168268,
  168238,
  168392,
  168410,
  168435,
  168194,
  168496,
  168180,
  168147,
  168497,
  168126,
  168541,
  168570,
  168626,
  168111,
  167487,
  168839,
  168851,
  167204,
  169145,
  169160,
  169185,
  167172,
  167131,
  167111,
  169255,
  167110,
  169272,
  167079,
  169273,
  167077,
  167056,
  167037,
  169351,
  169369,
  169392,
  167013,
  169396,
  167193,
  169109,
  167450,
  169072,
  168854,
  167402,
  167383,
  167377,
  168891,
  167310,
  168913,
  168927,
  168941,
  168948,
  168953,
  168970,
  168982,
  168997,
  167289,
  167270,
  169001,
  167264,
  169036,
  165312,
  165287,
  173347,
  163457,
  172443,
  172517,
  163585,
  172523,
  163579,
  163515,
  172605,
  163487,
  172630,
  172657,
  163327,
  163429,
  163412,
  163399,
  163396,
  172660,
  163379,
  172675,
  172685,
  163368,
  172347,
  172326,
  163623,
  163641,
  163979,
  163975,
  172108,
  172110,
  172113,
  172125,
  172138,
  163942,
  172150,
  172170,
  163881,
  163867,
  172197,
  172201,
  163747,
  172251,
  163734,
  163678,
  172272,
  172721,
  172733,
  165232,
  162974,
  163051,
  163043,
  163038,
  163032,
  163029,
  163027,
  163022,
  163016,
  162981,
  173109,
  172756,
  173164,
  173213,
  173218,
  162925,
  162911,
  173235,
  173291,
  162865,
  173341,
  173040,
  163074,
  173021,
  173018,
  172798,
  172837,
  172853,
  172887,
  163298,
  172902,
  163289,
  172938,
  172956,
  163261,
  163253,
  163224,
  163220,
  163202,
  163193,
  163135,
  163092,
  172990,
  173014,
  172065,
  163983,
  164033,
  164754,
  164857,
  164810,
  164804,
  164789,
  171366,
  164777,
  164776,
  171379,
  164758,
  171401,
  164042,
  171452,
  171461,
  164737,
  164733,
  171462,
  164718,
  164694,
  164681,
  171488,
  171341,
  164862,
  171295,
  171290,
  165231,
  165216,
  171027,
  171087,
  165198,
  165189,
  165174,
  165171,
  165167,
  171169,
  171191,
  165103,
  165014,
  164991,
  164990,
  171208,
  171289,
  164941,
  164870,
  171492,
  171514,
  164671,
  164200,
  164194,
  164155,
  164130,
  164128,
  171797,
  171859,
  164122,
  171917,
  164119,
  164116,
  171990,
  172027,
  164085,
  172040,
  164071,
  164070,
  172055,
  164049,
  172057,
  171796,
  164227,
  164645,
  171727,
  164617,
  164596,
  164570,
  164513,
  171577,
  164512,
  164509,
  171650,
  164478,
  171660,
  171677,
  171686,
  164406,
  164398,
  164354,
  164303,
  164261,
  171706,
  171716,
  172077,
  6,
  160945,
  141338,
  141676,
  141659,
  141649,
  141626,
  141616,
  141614,
  141613,
  141589,
  141558,
  141531,
  141518,
  141421,
  141410,
  141391,
  141337,
  142270,
  141333,
  141313,
  141307,
  141304,
  141284,
  141186,
  141116,
  141064,
  141032,
  141027,
  141016,
  141011,
  141010,
  141003,
  141682,
  141685,
  141707,
  141708,
  142237,
  142206,
  142171,
  142167,
  142164,
  142110,
  142075,
  142025,
  141997,
  141966,
  141962,
  141960,
  141954,
  141950,
  141926,
  141920,
  141912,
  141897,
  141892,
  141891,
  141888,
  141881,
  141876,
  141846,
  141786,
  141779,
  141777,
  141729,
  141717,
  140994,
  140958,
  140956,
  139993,
  139857,
  139797,
  139778,
  139744,
  139713,
  139641,
  139627,
  139542,
  139405,
  139382,
  139373,
  139310,
  139282,
  139263,
  139251,
  139242,
  139216,
  139197,
  139148,
  139100,
  139067,
  139017,
  138983,
  138951,
  138937,
  138914,
  138906,
  138889,
  138844,
  139914,
  140030,
  140951,
  140048,
  140944,
  140936,
  140926,
  140877,
  140860,
  140845,
  140767,
  140672,
  140597,
  140576,
  140536,
  140521,
  140506,
  140494,
  140466,
  140454,
  140418,
  140411,
  140375,
  140326,
  140300,
  140216,
  140189,
  140184,
  140160,
  140158,
  140155,
  140147,
  140107,
  142255,
  142337,
  138800,
  144339,
  144688,
  144656,
  144607,
  144591,
  144588,
  144543,
  144491,
  144482,
  144475,
  144473,
  144471,
  144414,
  144399,
  144361,
  144317,
  142355,
  144254,
  144227,
  144218,
  144208,
  144196,
  144121,
  144119,
  144100,
  144098,
  144082,
  144070,
  144060,
  144040,
  144013,
  144695,
  144728,
  144783,
  144795,
  145682,
  145641,
  145639,
  145630,
  145612,
  145546,
  145522,
  145501,
  145422,
  145344,
  145294,
  145270,
  145257,
  145255,
  145243,
  145239,
  145234,
  145214,
  145212,
  145196,
  145192,
  145185,
  145043,
  145013,
  144980,
  144966,
  144955,
  144935,
  144870,
  144010,
  143989,
  143960,
  143138,
  143098,
  143086,
  143019,
  142985,
  142951,
  142950,
  142890,
  142876,
  142863,
  142839,
  142838,
  142821,
  142820,
  142790,
  142779,
  142769,
  142763,
  142694,
  142691,
  142684,
  142652,
  142635,
  142629,
  142595,
  142571,
  142547,
  142466,
  142360,
  142356,
  143100,
  143147,
  143955,
  143171,
  143913,
  143882,
  143852,
  143829,
  143828,
  143827,
  143786,
  143775,
  143774,
  143759,
  143745,
  143711,
  143676,
  143645,
  143635,
  143575,
  143557,
  143544,
  143482,
  143445,
  143389,
  143338,
  143330,
  143329,
  143298,
  143294,
  143214,
  143201,
  143174,
  138812,
  138777,
  160936,
  133619,
  134106,
  134076,
  134001,
  133894,
  133836,
  133823,
  133810,
  133731,
  133705,
  133691,
  133684,
  133666,
  133651,
  133641,
  133616,
  135081,
  133549,
  133518,
  133464,
  133456,
  133449,
  133408,
  133399,
  133394,
  133371,
  133360,
  133349,
  133327,
  133212,
  133195,
  134110,
  134205,
  134228,
  134231,
  134957,
  134907,
  134893,
  134847,
  134840,
  134785,
  134776,
  134726,
  134719,
  134716,
  134684,
  134653,
  134589,
  134551,
  134548,
  134507,
  134488,
  134484,
  134469,
  134462,
  134445,
  134433,
  134416,
  134409,
  134406,
  134386,
  134358,
  134353,
  134296,
  133119,
  133110,
  133107,
  132291,
  132251,
  132246,
  132244,
  132231,
  132178,
  132152,
  132108,
  132089,
  131972,
  131971,
  131904,
  131853,
  131834,
  131833,
  131796,
  131757,
  131732,
  131694,
  131692,
  131688,
  131596,
  131552,
  131446,
  131424,
  131421,
  131420,
  131380,
  131374,
  131295,
  132270,
  132316,
  133056,
  132368,
  133055,
  133051,
  132985,
  132978,
  132961,
  132958,
  132951,
  132935,
  132934,
  132916,
  132867,
  132858,
  132850,
  132849,
  132827,
  132823,
  132792,
  132782,
  132767,
  132745,
  132738,
  132711,
  132649,
  132578,
  132569,
  132549,
  132521,
  132439,
  132418,
  135053,
  135100,
  138775,
  137421,
  137923,
  137921,
  137898,
  137878,
  137819,
  137727,
  137697,
  137664,
  137550,
  137530,
  137517,
  137483,
  137471,
  137466,
  137313,
  135145,
  137304,
  137285,
  137265,
  137198,
  137185,
  137173,
  137135,
  137127,
  137039,
  137024,
  137020,
  136984,
  136972,
  136956,
  137936,
  137954,
  137963,
  137996,
  138734,
  138638,
  138634,
  138630,
  138584,
  138551,
  138518,
  138500,
  138477,
  138476,
  138475,
  138458,
  138388,
  138387,
  138329,
  138310,
  138295,
  138286,
  138264,
  138257,
  138214,
  138208,
  138160,
  138135,
  138113,
  138100,
  ...],
 2: [150559,
  150550,
  109795,
  114328,
  114292,
  28551,
  165695,
  213065,
  35789,
  146276,
  213044,
  63158,
  114392,
  35694,
  66513,
  35739,
  150555,
  150594,
  146343,
  63095,
  28639,
  35821,
  219274,
  28549,
  35653,
  190029,
  35673,
  110016,
  112228,
  212980,
  108687,
  211666,
  66690,
  151619,
  145663,
  211672,
  37226,
  145667,
  37131,
  90349,
  164984,
  90875,
  114744,
  114710,
  62096,
  37079,
  212093,
  211635,
  114862,
  151648,
  27734,
  145553,
  211269,
  108365,
  108372,
  37877,
  108418,
  66804,
  151747,
  37813,
  108466,
  108473,
  37452,
  37443,
  219748,
  211558,
  151531,
  219586,
  108805,
  66570,
  28177,
  189733,
  212550,
  219332,
  90556,
  109268,
  114512,
  212675,
  109474,
  150904,
  212796,
  36197,
  54579,
  36175,
  90429,
  36525,
  87931,
  62114,
  186553,
  212339,
  36855,
  219567,
  27908,
  190543,
  62258,
  62261,
  87891,
  36775,
  151154,
  212424,
  28010,
  219528,
  90599,
  28054,
  168189,
  63438,
  35446,
  216743,
  32997,
  167175,
  216908,
  65337,
  215168,
  216762,
  188742,
  111816,
  30872,
  32839,
  148732,
  32795,
  31165,
  111888,
  187901,
  147804,
  147548,
  216984,
  32753,
  30656,
  33604,
  113028,
  188947,
  33521,
  33499,
  188938,
  214952,
  112938,
  64311,
  217001,
  33302,
  33301,
  147545,
  30788,
  64232,
  64268,
  31207,
  147878,
  189653,
  32148,
  111996,
  89122,
  112063,
  64768,
  112094,
  148085,
  166815,
  89035,
  166859,
  188341,
  188328,
  188317,
  166823,
  188250,
  148208,
  188270,
  148484,
  89152,
  216535,
  148593,
  215376,
  216391,
  188668,
  147916,
  216362,
  112547,
  215442,
  32483,
  32404,
  216321,
  32439,
  166633,
  64648,
  166991,
  166989,
  88912,
  217356,
  217399,
  64214,
  29559,
  213789,
  167534,
  34956,
  149968,
  34883,
  64945,
  165876,
  218042,
  88445,
  149902,
  34618,
  149778,
  63566,
  214029,
  63590,
  189319,
  218264,
  149980,
  167208,
  113896,
  35337,
  29063,
  89871,
  146596,
  218611,
  189525,
  213703,
  146659,
  146819,
  165770,
  218551,
  150120,
  186919,
  165822,
  110616,
  149988,
  113513,
  29770,
  65695,
  33857,
  63869,
  214553,
  30310,
  88526,
  33996,
  33970,
  113334,
  217539,
  167294,
  149197,
  111353,
  30431,
  33755,
  214826,
  187648,
  88581,
  30281,
  111174,
  166202,
  63812,
  34521,
  110987,
  147208,
  149504,
  65640,
  30185,
  113378,
  165925,
  214314,
  165936,
  34279,
  166083,
  34171,
  217754,
  63792,
  32730,
  208376,
  61812,
  57423,
  57300,
  202880,
  157785,
  202933,
  100898,
  48539,
  48527,
  203034,
  195571,
  203048,
  57444,
  100744,
  101059,
  48412,
  203349,
  48381,
  48362,
  57465,
  203432,
  157539,
  203513,
  203532,
  57271,
  100621,
  56772,
  158165,
  99770,
  56795,
  202186,
  94528,
  162264,
  49834,
  56920,
  49684,
  195936,
  202504,
  57000,
  49114,
  49471,
  57012,
  94353,
  195862,
  49378,
  162339,
  100414,
  100515,
  195749,
  49144,
  48185,
  57522,
  48132,
  204674,
  47156,
  204508,
  156790,
  156765,
  46969,
  204591,
  204597,
  101982,
  102161,
  156704,
  204701,
  203698,
  156685,
  58357,
  162754,
  194965,
  46691,
  102308,
  102449,
  102521,
  46535,
  162807,
  47167,
  195184,
  58126,
  101760,
  48074,
  47993,
  47967,
  157304,
  47939,
  101510,
  57958,
  47820,
  204076,
  58053,
  47737,
  204136,
  101712,
  157051,
  157015,
  204257,
  204346,
  162643,
  47496,
  156953,
  58114,
  99716,
  162244,
  102649,
  199476,
  199272,
  199292,
  199301,
  97218,
  161403,
  97232,
  199405,
  199412,
  97333,
  97343,
  55597,
  97193,
  52723,
  52682,
  97528,
  52642,
  52630,
  159898,
  97629,
  199783,
  197196,
  199798,
  97202,
  95840,
  201737,
  160493,
  54512,
  160902,
  54643,
  197800,
  198091,
  197753,
  160627,
  96687,
  54193,
  198297,
  96210,
  198976,
  55102,
  160383,
  96118,
  53864,
  96983,
  198718,
  198843,
  53670,
  198849,
  97104,
  97723,
  199886,
  55725,
  99106,
  159438,
  200818,
  98522,
  196928,
  98753,
  98769,
  161896,
  159298,
  99059,
  196781,
  95012,
  55751,
  201300,
  158978,
  158964,
  201374,
  196487,
  99378,
  162226,
  99528,
  158711,
  201693,
  51462,
  200709,
  159469,
  98416,
  52239,
  97784,
  52204,
  197078,
  200023,
  52161,
  161668,
  161689,
  97950,
  51968,
  51960,
  200126,
  51893,
  51876,
  97977,
  159655,
  159652,
  51796,
  159602,
  55973,
  56006,
  205027,
  46398,
  211227,
  40406,
  153571,
  208619,
  153519,
  208707,
  153374,
  208845,
  208887,
  208891,
  208919,
  106333,
  153212,
  40988,
  60930,
  91987,
  106535,
  209005,
  40075,
  91940,
  40000,
  153130,
  39854,
  209164,
  153594,
  153612,
  41897,
  153719,
  105384,
  207948,
  41771,
  105472,
  60513,
  105517,
  208099,
  208144,
  105580,
  208229,
  208364,
  41020,
  41472,
  105582,
  41414,
  60690,
  208452,
  41224,
  163949,
  105740,
  105897,
  60708,
  106766,
  209371,
  106893,
  61603,
  210438,
  191093,
  164679,
  210514,
  38700,
  61518,
  210594,
  152322,
  91340,
  190962,
  152007,
  209472,
  108102,
  38398,
  108128,
  211086,
  108214,
  151943,
  190883,
  38127,
  151895,
  108283,
  61459,
  210379,
  152509,
  210257,
  39596,
  91635,
  107055,
  164238,
  107078,
  61218,
  209631,
  191577,
  39377,
  209687,
  164313,
  209792,
  107304,
  39289,
  209984,
  191237,
  107415,
  152581,
  107467,
  39018,
  210237,
  163842,
  105325,
  93588,
  44632,
  45416,
  205629,
  155826,
  58987,
  103308,
  44903,
  44878,
  205853,
  44843,
  44728,
  194073,
  205528,
  93045,
  103846,
  103860,
  206047,
  44383,
  104026,
  104055,
  206256,
  193612,
  92775,
  155946,
  155992,
  105319,
  58694,
  205105,
  162844,
  46284,
  46241,
  102812,
  46204,
  156253,
  46118,
  46038,
  205279,
  45930,
  58812,
  102925,
  45794,
  102972,
  205387,
  103053,
  103057,
  205443,
  205448,
  45592,
  156078,
  206295,
  43957,
  193573,
  42403,
  59877,
  104885,
  207234,
  192943,
  207289,
  207290,
  104974,
  154373,
  154309,
  42404,
  42391,
  154957,
  105004,
  105064,
  42268,
  154169,
  42260,
  42245,
  163659,
  154098,
  42055,
  92348,
  92531,
  207111,
  59863,
  43083,
  104281,
  43825,
  43778,
  206721,
  43772,
  104342,
  206739,
  43716,
  43710,
  206787,
  92700,
  154764,
  104584,
  206912,
  59701,
  104681,
  59777,
  92551,
  43180,
  43178,
  154580,
  87793,
  40309,
  28337,
  122456,
  16526,
  236396,
  16507,
  236375,
  228344,
  171614,
  134198,
  128023,
  180836,
  236225,
  174333,
  174243,
  228502,
  139081,
  228571,
  72212,
  228613,
  228629,
  180806,
  180936,
  128081,
  228689,
  72021,
  227971,
  227975,
  228031,
  16966,
  16938,
  181055,
  236641,
  139534,
  134082,
  139477,
  16819,
  76606,
  6052,
  171531,
  16704,
  139402,
  180983,
  128110,
  16672,
  72300,
  228697,
  71795,
  235783,
  80724,
  229183,
  122916,
  6883,
  229235,
  123034,
  180351,
  180344,
  123099,
  15121,
  76192,
  15115,
  83061,
  6931,
  123178,
  6967,
  177727,
  14890,
  174028,
  138685,
  15487,
  127983,
  138740,
  15974,
  228720,
  228734,
  228780,
  177541,
  138900,
  235997,
  83220,
  122767,
  6402,
  76385,
  6472,
  15751,
  6642,
  15640,
  138758,
  127712,
  15608,
  229071,
  5697,
  227882,
  170850,
  71201,
  171131,
  128780,
  71357,
  237350,
  135905,
  177003,
  121081,
  84210,
  5012,
  226946,
  181709,
  227027,
  76935,
  128607,
  174439,
  140440,
  128551,
  181661,
  5255,
  77020,
  226605,
  227116,
  140914,
  19322,
  84422,
  129010,
  80147,
  84397,
  181938,
  4785,
  176961,
  19226,
  226513,
  170998,
  237479,
  226519,
  140930,
  128808,
  181909,
  19092,
  226559,
  19063,
  171252,
  12,
  5672,
  17812,
  140142,
  121572,
  237008,
  140081,
  227552,
  227575,
  227587,
  227589,
  236938,
  80295,
  17345,
  139904,
  5583,
  133827,
  236757,
  121860,
  17189,
  227845,
  121888,
  133730,
  76845,
  18395,
  227450,
  237240,
  71521,
  121327,
  140285,
  128533,
  18086,
  83867,
  133659,
  227292,
  71599,
  17968,
  177067,
  17943,
  237187,
  76871,
  227317,
  227345,
  121498,
  237088,
  14837,
  115153,
  14760,
  11396,
  81353,
  234290,
  136681,
  125279,
  126623,
  232029,
  234124,
  81367,
  8759,
  178349,
  136675,
  125362,
  125392,
  232212,
  232216,
  232235,
  10887,
  10854,
  74294,
  8519,
  178979,
  234044,
  81249,
  234727,
  178231,
  126757,
  73943,
  75629,
  231452,
  136955,
  124948,
  11753,
  73948,
  124971,
  126719,
  231525,
  231573,
  11665,
  11659,
  11618,
  8350,
  8362,
  234062,
  10769,
  134649,
  75046,
  233014,
  233025,
  10280,
  74623,
  10254,
  178693,
  178512,
  10200,
  233121,
  233499,
  136058,
  9485,
  178596,
  9947,
  135919,
  233280,
  233343,
  9558,
  9659,
  136176,
  173116,
  81870,
  178462,
  125443,
  125458,
  125519,
  81862,
  136405,
  178413,
  178414,
  126305,
  81459,
  125584,
  135798,
  74484,
  173044,
  232762,
  233703,
  233689,
  232763,
  10481,
  232775,
  126815,
  231269,
  75685,
  138141,
  7315,
  179903,
  172199,
  13679,
  123872,
  179869,
  13515,
  82734,
  172214,
  123996,
  7357,
  235391,
  137960,
  13393,
  80864,
  13349,
  230207,
  124067,
  134777,
  13721,
  73199,
  82346,
  123780,
  14540,
  123265,
  14480,
  138374,
  138366,
  72989,
  123337,
  14220,
  73091,
  123468,
  76087,
  235453,
  138217,
  229714,
  229736,
  229836,
  123745,
  13880,
  127392,
  230274,
  124075,
  73378,
  ...],
 3: [152570,
  33042,
  105460,
  33003,
  191233,
  140366,
  9973,
  102900,
  139277,
  194432,
  180872,
  205434,
  74405,
  149098,
  214846,
  120970,
  149083,
  71288,
  109119,
  125588,
  212488,
  232744,
  36788,
  191322,
  142262,
  148973,
  103121,
  232960,
  188825,
  122341,
  178566,
  16781,
  204686,
  210825,
  156553,
  22519,
  135544,
  75501,
  183538,
  156701,
  234436,

In [47]:
U_cid=priority(U_cid,0)

In [48]:
data['U_cid_wts']=0

In [49]:
for key,val in U_cid.items():
    for i in val:
        data.loc[data['user_id']==i,'U_cid_wts']=key

In [ ]:
writer = pd.ExcelWriter('output1.xlsx') #Applying shortcut to change same column names
data.to_excel(writer,'Sheet1')
writer.save()

In [53]:
test['U_cid_wts']=0

In [92]:
data1=pd.read_csv('output.csv')

In [97]:
data.to_csv('datafinal.csv')

In [99]:
uniid=test['user_id'].unique()

In [100]:
for i in uniid:
    print(i)
    break

122715

In [109]:
len(uniid)

198219

In [102]:
d_uniid=data['user_id'].unique()

In [110]:
len(d_uniid)

168236

In [105]:
nanid=[]
for i in uniid:
    if i not in d_uniid:
        nanid.append(i)

In [116]:
for i in nanid:
    test.loc[test['user_id']==i,'U_oid_wts']=np.nan

In [119]:
for i in nanid:
    test.loc[test['user_id']==i,'U_cid_wts']=np.nan

In [120]:
test.to_csv('targetfinal.csv')

In [ ]:
Dat.loc[Dat['Corporate']=='Corporate','Corporate']

In [726]:
Dat=Data[Data['is_click']==1]

In [739]:
len(Dat)

12782

In [831]:
Test=pd.read_csv('test.csv')

In [833]:
len(Test)

773858

In [840]:
test.drop(['cwt','cwt1'],axis=1,inplace=True)

In [841]:
test.head()

,id,campaign_id,user_id,send_date,U_cid_wts,time_of_day,weekend,U_oid_wts
0,63_122715,63,122715,01-02-2018 22:35,0.0,1,0,0.0
1,56_76206,56,76206,02-01-2018 08:15,0.0,0,0,0.0
2,57_96189,57,96189,05-01-2018 18:25,0.0,2,0,1.0
3,56_166917,56,166917,02-01-2018 08:15,0.0,0,0,0.0
4,56_172838,56,172838,02-01-2018 08:12,0.0,0,0,2.0

In [834]:
Train=pd.read_csv('train.csv')

In [837]:
len(Train)

1023191

In [1262]:
len(data)

1023191

In [848]:
test.head()

,id,campaign_id,user_id,send_date,U_cid_wts,weekend,U_oid_wts
0,63_122715,63,122715,01-02-2018 22:35,0.0,0,0.0
1,56_76206,56,76206,02-01-2018 08:15,0.0,0,0.0
2,57_96189,57,96189,05-01-2018 18:25,0.0,0,1.0
3,56_166917,56,166917,02-01-2018 08:15,0.0,0,0.0
4,56_172838,56,172838,02-01-2018 08:12,0.0,0,2.0

In [54]:
for key,val in U_cid.items():
    for i in val:
        test.U_cid_wts[test['user_id']==i]=key

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [84]:
test.to_csv('target.csv')

In [ ]:
P=['U_cid_wts','cwt','time_of_day','weekend',]

In [ ]:
Uid_Cid=order(data,'is_click',1,'id')

In [ ]:
len(data[data['is_open']==0])

In [ ]:
test=pd.read_csv('test.csv')

In [ ]:
camp.isnull().sum()

In [ ]:
test.user_id.max()

In [ ]:
len(data.user_id.unique())#.value_counts()

In [57]:
import datetime

In [901]:
def time(T):
    if T.weekday()<5:
        day=0
    else:
        day=1
    H=int(T.strftime('%H:%M').split(':')[0])
    if H<12 and H>6:
        time='early'
    elif (H>12 or H==12) and (H<18):
        time='afternoon'
    elif (H>18 or H==18)and H<22:
        time='evening'
    else:
        time='night'
    return day,time

In [902]:
dt=[];tym=[]
for i in data.send_date:
    T=datetime.datetime.strptime(i,"%d-%m-%Y %H:%M")
    day,tim=time(T)
    dt.append(day)
    tym.append(tim)

In [904]:
date=pd.DataFrame({'time_of_day':tym,'weekend':dt}, index=data.index)

In [903]:
data.drop(['time_of_day','weekend'],axis=1,inplace=True)

In [905]:
data=pd.concat([data,date],axis=1)

In [906]:
Data=data

In [907]:
Dat=Data[Data['is_click']==1]

In [908]:
len(Dat)

12782

In [909]:
evenopen=len(Dat[Dat['time_of_day']=='evening'])

In [910]:
eventot=len(Data[Data['time_of_day']=='evening'])

In [911]:
moropen=len(Dat[Dat['time_of_day']=='early'])

In [912]:
mortot=len(Data[Data['time_of_day']=='early'])

In [913]:
nightopen=len(Dat[Dat['time_of_day']=='night'])

In [914]:
nighttotal=len(Data[Data['time_of_day']=='night'])

In [915]:
noonopen=len(Dat[Dat['time_of_day']=='afternoon'])

In [916]:
noontotal=len(Data[Data['time_of_day']=='afternoon'])

In [917]:
round(evenopen/eventot,3)

0.014

In [918]:
round(moropen/mortot,3)

0.012

In [919]:
round(nightopen/nighttotal,3)

0.011

In [920]:
round(noonopen/noontotal,3)

0.012

In [921]:
dt=[];tym=[]
for i in test.send_date:
    T=datetime.datetime.strptime(i,"%d-%m-%Y %H:%M")
    day,tim=time(T)
    dt.append(day)
    tym.append(tim)
#t=data.send_date[15544]

In [923]:
date=pd.DataFrame({'time_of_day':tym,'weekend':dt}, index=test.index)

In [924]:
test=pd.concat([test,date],axis=1)

In [925]:
week=len(Data[Data['weekend']==0])

In [926]:
weekopen=len(Dat[Dat['weekend']==0])

In [927]:
wend=len(Data[Data['weekend']==1])

In [928]:
wendopen=len(Dat[Dat['weekend']==1])

In [929]:
ratio=(wendopen/wend)/(weekopen/week)

In [930]:
round(ratio,2)

1.42

In [931]:
round(weekopen/week,3)

0.012

In [932]:
round(wendopen/wend,3)

0.017

In [934]:
Date_day

                  Frequency
is_click weekend
1        0            11402
         1             1380

In [933]:
Date_day=order(data,'is_click',1,'weekend')

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  from ipykernel import kernelapp as app

In [877]:
data.drop('weekend',axis=1,inplace=True)

In [881]:
test.drop('weekend',axis=1,inplace=True)

In [935]:
Date_tym=order(data,'is_click',1,'time_of_day')

F:\Anaconda\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  from ipykernel import kernelapp as app

In [936]:
Date_tym

                      Frequency
is_click time_of_day
1        afternoon         6184
         evening           3529
         night             1817
         early             1252

In [937]:
data.loc[data['time_of_day']=='evening','time_of_day']=0.014

In [938]:
test.loc[test['time_of_day']=='evening','time_of_day']=0.014

In [939]:
data.loc[data['time_of_day']=='night','time_of_day']=0.011

In [940]:
test.loc[test['time_of_day']=='night','time_of_day']=0.011

In [941]:
data.loc[data['time_of_day']=='early','time_of_day']=0.012

In [942]:
test.loc[test['time_of_day']=='early','time_of_day']=0.012

In [943]:
data.loc[data['time_of_day']=='afternoon','time_of_day']=0.012

In [944]:
test.loc[test['time_of_day']=='afternoon','time_of_day']=0.012

In [945]:
data.loc[data['weekend']==1,'weekend']=0.017

In [956]:
data.loc[data['weekend']==0,'weekend']=0.012

In [957]:
test.loc[test['weekend']==1,'weekend']=0.017

In [946]:
test.loc[test['weekend']==0,'weekend']=0.012

In [958]:
test.to_csv('Target.csv')

In [76]:
camp.to_csv('camp.csv')

In [3]:
data=pd.read_csv('Data_Final.csv')

In [4]:
test=pd.read_csv('Test_finaL.csv')

In [4]:
test=pd.read_csv('Test_FinaL_nonan.csv')

In [6]:
test.columns

Index(['Unnamed: 0', 'id', 'campaign_id', 'user_id', 'send_date', 'U_cid_wts',
       'U_oid_wts', 'time_of_day', 'weekend', 'campaign_weight', 'Conference',
       'Corporate', 'Hackathon', 'Newsletter', 'Others', 'Upcoming Events',
       'Webinar', 'communication_type_Corporate',
       'communication_type_Hackathon', 'communication_type_Newsletter',
       'communication_type_Upcoming Events', 'communication_type_Others',
       'communication_type_Webinar', 'communication_type_Conference'],
      dtype='object')

In [7]:
data.columns

Index(['Unnamed: 0', 'id', 'user_id', 'campaign_id', 'send_date', 'is_open',
       'is_click', 'U_cid_wts', 'U_oid_wts', 'time_of_day', 'weekend',
       'campaign_weight', 'Conference', 'Corporate', 'Hackathon', 'Newsletter',
       'Others', 'Upcoming Events', 'Webinar', 'communication_type_Conference',
       'communication_type_Corporate', 'communication_type_Hackathon',
       'communication_type_Newsletter', 'communication_type_Others',
       'communication_type_Upcoming Events', 'communication_type_Webinar'],
      dtype='object')

In [5]:
P=['U_cid_wts','U_oid_wts','campaign_weight','communication_type_Conference',
       'communication_type_Corporate', 'communication_type_Hackathon',
       'communication_type_Newsletter', 'communication_type_Others',
       'communication_type_Upcoming Events', 'communication_type_Webinar','Conference', 'Corporate', 'Hackathon', 'Newsletter', 'Others',
       'Upcoming Events', 'Webinar','time_of_day', 'weekend']

In [6]:
Xtest=data[P]

In [7]:
target=data['is_click']

In [10]:
train_X, test_X, train_target, test_target= train_test_split(Xtest , target, train_size = 0.7,random_state=75)

In [14]:
test_X.shape

(306958, 19)

In [6]:
train_X=data[P]

In [7]:
train_X.shape

(1023191, 19)

In [8]:
train_target=data['is_click']

In [9]:
test_X=test[P]

In [11]:
xgtest= xgb.DMatrix(test_X.values)

In [12]:
predict=model.predict(xgtest)

In [13]:
predict=predict>0.5
predict=predict.astype(int)

In [14]:
test_target=pd.DataFrame({'is_click':predict})

In [15]:
test_target.shape

(773858, 1)

In [16]:
test_target['id']=test['id']

In [17]:
len(test_target[test_target['is_click']==1])

19334

In [18]:
(len(test_target)-len(test_target[test_target['is_click']==1]))/len(test_target[test_target['is_click']==1])

39.02575773249198

In [19]:
test_target.to_csv('submission3.csv')

In [ ]:
submission['is_click']=pd.DataFrame(test_target)

In [ ]:
submission=pd.concat([test_X.id,test_target])

In [ ]:
test_target.to_csv('submission.csv')

In [ ]:
xgb1 = XGBClassifier(learning_rate =0.1,n_estimators=3,max_depth=5,min_child_weight=1,gamma=0,subsample=0.8,colsample_bytree=0.8,
 objective= 'binary:logistic')
xgb1.fit(train_X,train_target,eval_metric='auc')

In [6]:
(len(data)-len(data[data['is_click']==1]))/len(data[data['is_click']==1])

79.04936629635425

In [ ]:
dtest_predictions = xgb1.predict(test_X)  
dtest_predprob = xgb1.predict_proba(test_X)[:,1]
#Print model report:
print("\nModel Report")
print("Accuracy on Test set: %.4g" % metrics.accuracy_score(test_target.values, dtest_predictions))
print("AUC Score on test: %f" % metrics.roc_auc_score(test_target, dtest_predprob))

In [10]:
params={'objective': 'binary:logistic','eval_metric': 'auc', 'scale_pos_weight':70,'silent':0}   
xgtrain = xgb.DMatrix(train_X.values, label=train_target.values)
#xgtest= xgb.DMatrix(test_X.values,label=test_target.values) 

watchlist = [(xgtrain, 'train')]
num_round=60

model=xgb.train(params,xgtrain,num_round,watchlist)

[0]	train-auc:0.982466
[1]	train-auc:0.985826
[2]	train-auc:0.990807
[3]	train-auc:0.99107
[4]	train-auc:0.991086
[5]	train-auc:0.991767
[6]	train-auc:0.991781
[7]	train-auc:0.993074
[8]	train-auc:0.99368
[9]	train-auc:0.993947
[10]	train-auc:0.994026
[11]	train-auc:0.994047
[12]	train-auc:0.994135
[13]	train-auc:0.994188
[14]	train-auc:0.994717
[15]	train-auc:0.995087
[16]	train-auc:0.995169
[17]	train-auc:0.9953
[18]	train-auc:0.995322
[19]	train-auc:0.995547
[20]	train-auc:0.995657
[21]	train-auc:0.995708
[22]	train-auc:0.995798
[23]	train-auc:0.995869
[24]	train-auc:0.995881
[25]	train-auc:0.995879
[26]	train-auc:0.995984
[27]	train-auc:0.996002
[28]	train-auc:0.996101
[29]	train-auc:0.996122
[30]	train-auc:0.996127
[31]	train-auc:0.996128
[32]	train-auc:0.996131
[33]	train-auc:0.99616
[34]	train-auc:0.996234
[35]	train-auc:0.996244
[36]	train-auc:0.996262
[37]	train-auc:0.996297
[38]	train-auc:0.99631
[39]	train-auc:0.996328
[40]	train-auc:0.996341
[41]	train-auc:0.996346
[42]	train-auc:0.996351
[43]	train-auc:0.996355
[44]	train-auc:0.996365
[45]	train-auc:0.996377
[46]	train-auc:0.996382
[47]	train-auc:0.996384
[48]	train-auc:0.996386
[49]	train-auc:0.996389
[50]	train-auc:0.996391
[51]	train-auc:0.996395
[52]	train-auc:0.996395
[53]	train-auc:0.996401
[54]	train-auc:0.996422
[55]	train-auc:0.996423
[56]	train-auc:0.996422
[57]	train-auc:0.996423
[58]	train-auc:0.996425
[59]	train-auc:0.996426

In [11]:
params={'objective': 'binary:logistic','eval_metric': 'auc', 'scale_pos_weight':70, 'silent':0}   
xgtrain = xgb.DMatrix(train_X.values, label=train_target.values)
#xgtest= xgb.DMatrix(test_X.values,label=test_target.values) 

watchlist = [(xgtrain, 'train')]
num_round=80

model=xgb.train(params,xgtrain,num_round,watchlist)

[0]	train-auc:0.982466
[1]	train-auc:0.985826
[2]	train-auc:0.990807
[3]	train-auc:0.99107
[4]	train-auc:0.991086
[5]	train-auc:0.991767
[6]	train-auc:0.991781
[7]	train-auc:0.993074
[8]	train-auc:0.99368
[9]	train-auc:0.993947
[10]	train-auc:0.994026
[11]	train-auc:0.994047
[12]	train-auc:0.994135
[13]	train-auc:0.994188
[14]	train-auc:0.994717
[15]	train-auc:0.995087
[16]	train-auc:0.995169
[17]	train-auc:0.9953
[18]	train-auc:0.995322
[19]	train-auc:0.995547
[20]	train-auc:0.995657
[21]	train-auc:0.995708
[22]	train-auc:0.995798
[23]	train-auc:0.995869
[24]	train-auc:0.995881
[25]	train-auc:0.995879
[26]	train-auc:0.995984
[27]	train-auc:0.996002
[28]	train-auc:0.996101
[29]	train-auc:0.996122
[30]	train-auc:0.996127
[31]	train-auc:0.996128
[32]	train-auc:0.996131
[33]	train-auc:0.99616
[34]	train-auc:0.996234
[35]	train-auc:0.996244
[36]	train-auc:0.996262
[37]	train-auc:0.996297
[38]	train-auc:0.99631
[39]	train-auc:0.996328
[40]	train-auc:0.996341
[41]	train-auc:0.996346
[42]	train-auc:0.996351
[43]	train-auc:0.996355
[44]	train-auc:0.996365
[45]	train-auc:0.996377
[46]	train-auc:0.996382
[47]	train-auc:0.996384
[48]	train-auc:0.996386
[49]	train-auc:0.996389
[50]	train-auc:0.996391
[51]	train-auc:0.996395
[52]	train-auc:0.996395
[53]	train-auc:0.996401
[54]	train-auc:0.996422
[55]	train-auc:0.996423
[56]	train-auc:0.996422
[57]	train-auc:0.996423
[58]	train-auc:0.996425
[59]	train-auc:0.996426
[60]	train-auc:0.996428
[61]	train-auc:0.996429
[62]	train-auc:0.996429
[63]	train-auc:0.996434
[64]	train-auc:0.996436
[65]	train-auc:0.996438
[66]	train-auc:0.996441
[67]	train-auc:0.996445
[68]	train-auc:0.996446
[69]	train-auc:0.996447
[70]	train-auc:0.996449
[71]	train-auc:0.996451
[72]	train-auc:0.996454
[73]	train-auc:0.996455
[74]	train-auc:0.996455
[75]	train-auc:0.996457
[76]	train-auc:0.996471
[77]	train-auc:0.996473
[78]	train-auc:0.996475
[79]	train-auc:0.996477

In [ ]:
params={'objective': 'binary:logistic','eval_metric': 'auc', 'scale_pos_weight':70,'gamma': 0,'silent':0}   
xgtrain = xgb.DMatrix(train_X.values, label=train_target.values)
xgtest= xgb.DMatrix(test_X.values,label=test_target.values) 

watchlist = [(xgtest, 'eval'), (xgtrain, 'train')]
num_round=51

model=xgb.train(params,xgtrain,num_round,watchlist)

[0]	eval-auc:0.982868	train-auc:0.982384
[1]	eval-auc:0.98293	train-auc:0.98269
[2]	eval-auc:0.990497	train-auc:0.990497
[3]	eval-auc:0.992276	train-auc:0.992226
[4]	eval-auc:0.992779	train-auc:0.992634
[5]	eval-auc:0.992964	train-auc:0.992762
[6]	eval-auc:0.993704	train-auc:0.993605
[7]	eval-auc:0.993736	train-auc:0.993632
[8]	eval-auc:0.993761	train-auc:0.993663
[9]	eval-auc:0.993831	train-auc:0.99373
[10]	eval-auc:0.993838	train-auc:0.993729
[11]	eval-auc:0.993846	train-auc:0.993738
[12]	eval-auc:0.994012	train-auc:0.993821
[13]	eval-auc:0.99402	train-auc:0.993827
[14]	eval-auc:0.994045	train-auc:0.99386
[15]	eval-auc:0.99418	train-auc:0.993988
[16]	eval-auc:0.995371	train-auc:0.99523
[17]	eval-auc:0.995728	train-auc:0.99562
[18]	eval-auc:0.995885	train-auc:0.995817
[19]	eval-auc:0.99597	train-auc:0.995897
[20]	eval-auc:0.996055	train-auc:0.995989
[21]	eval-auc:0.996086	train-auc:0.996046
[22]	eval-auc:0.996105	train-auc:0.996069
[23]	eval-auc:0.99615	train-auc:0.996114
[24]	eval-auc:0.996178	train-auc:0.996139
[25]	eval-auc:0.996197	train-auc:0.996165
[26]	eval-auc:0.996218	train-auc:0.99618
[27]	eval-auc:0.996249	train-auc:0.99621
[28]	eval-auc:0.996253	train-auc:0.996243
[29]	eval-auc:0.996267	train-auc:0.996264
[30]	eval-auc:0.996267	train-auc:0.996268
[31]	eval-auc:0.996273	train-auc:0.996279
[32]	eval-auc:0.996279	train-auc:0.996285
[33]	eval-auc:0.996273	train-auc:0.996292
[34]	eval-auc:0.99628	train-auc:0.996305
[35]	eval-auc:0.996283	train-auc:0.996307
[36]	eval-auc:0.996281	train-auc:0.99631
[37]	eval-auc:0.996287	train-auc:0.996328
[38]	eval-auc:0.996294	train-auc:0.996332
[39]	eval-auc:0.996297	train-auc:0.996341
[40]	eval-auc:0.996297	train-auc:0.996344
[41]	eval-auc:0.9963	train-auc:0.996347
[42]	eval-auc:0.996302	train-auc:0.996352
[43]	eval-auc:0.996293	train-auc:0.996361
[44]	eval-auc:0.996303	train-auc:0.996371
[45]	eval-auc:0.996309	train-auc:0.996374
[46]	eval-auc:0.996308	train-auc:0.996373
[47]	eval-auc:0.996303	train-auc:0.996385
[48]	eval-auc:0.996299	train-auc:0.996386
[49]	eval-auc:0.996303	train-auc:0.996399
[50]	eval-auc:0.996307	train-auc:0.996408

In [ ]:
params={'objective': 'binary:logistic','eval_metric': 'auc', 'scale_pos_weight':70,'gamma': 0,'silent':0}   
xgtrain = xgb.DMatrix(train_X.values, label=train_target.values)
xgtest= xgb.DMatrix(test_X.values,label=test_target.values) 

watchlist = [(xgtest, 'eval'), (xgtrain, 'train')]
num_round=70

model=xgb.train(params,xgtrain,num_round,watchlist)

[0]	eval-auc:0.982092	train-auc:0.982577
[1]	eval-auc:0.985448	train-auc:0.985936
[2]	eval-auc:0.987472	train-auc:0.987921
[3]	eval-auc:0.990695	train-auc:0.990941
[4]	eval-auc:0.993448	train-auc:0.993621
[5]	eval-auc:0.994144	train-auc:0.994305
[6]	eval-auc:0.994682	train-auc:0.994849
[7]	eval-auc:0.994495	train-auc:0.994649
[8]	eval-auc:0.994653	train-auc:0.994821
[9]	eval-auc:0.994591	train-auc:0.994773
[10]	eval-auc:0.994597	train-auc:0.994792
[11]	eval-auc:0.994551	train-auc:0.994723
[12]	eval-auc:0.994796	train-auc:0.99502
[13]	eval-auc:0.994879	train-auc:0.995111
[14]	eval-auc:0.994927	train-auc:0.99516
[15]	eval-auc:0.995207	train-auc:0.995415
[16]	eval-auc:0.995229	train-auc:0.995451
[17]	eval-auc:0.995211	train-auc:0.995446
[18]	eval-auc:0.995252	train-auc:0.99546
[19]	eval-auc:0.995609	train-auc:0.995761
[20]	eval-auc:0.995779	train-auc:0.995923
[21]	eval-auc:0.995865	train-auc:0.995997
[22]	eval-auc:0.995885	train-auc:0.996011
[23]	eval-auc:0.995916	train-auc:0.99606
[24]	eval-auc:0.995948	train-auc:0.996094
[25]	eval-auc:0.996003	train-auc:0.996124
[26]	eval-auc:0.996012	train-auc:0.996126
[27]	eval-auc:0.996017	train-auc:0.996132
[28]	eval-auc:0.996021	train-auc:0.996146
[29]	eval-auc:0.99603	train-auc:0.996171
[30]	eval-auc:0.996059	train-auc:0.996185
[31]	eval-auc:0.996072	train-auc:0.996199
[32]	eval-auc:0.99607	train-auc:0.996205
[33]	eval-auc:0.99607	train-auc:0.996207
[34]	eval-auc:0.996064	train-auc:0.996219
[35]	eval-auc:0.996068	train-auc:0.996225
[36]	eval-auc:0.9961	train-auc:0.996256
[37]	eval-auc:0.996117	train-auc:0.996274
[38]	eval-auc:0.996139	train-auc:0.996291
[39]	eval-auc:0.99614	train-auc:0.996294
[40]	eval-auc:0.996171	train-auc:0.996326
[41]	eval-auc:0.99616	train-auc:0.996328
[42]	eval-auc:0.996158	train-auc:0.996353
[43]	eval-auc:0.996197	train-auc:0.996381
[44]	eval-auc:0.996197	train-auc:0.996386
[45]	eval-auc:0.996198	train-auc:0.996391
[46]	eval-auc:0.996205	train-auc:0.996395
[47]	eval-auc:0.996203	train-auc:0.996399
[48]	eval-auc:0.996203	train-auc:0.996398
[49]	eval-auc:0.996208	train-auc:0.996409
[50]	eval-auc:0.996212	train-auc:0.996422
[51]	eval-auc:0.996215	train-auc:0.996427
[52]	eval-auc:0.996214	train-auc:0.996427
[53]	eval-auc:0.996208	train-auc:0.996431
[54]	eval-auc:0.996232	train-auc:0.996454
[55]	eval-auc:0.996229	train-auc:0.996457
[56]	eval-auc:0.996243	train-auc:0.996467
[57]	eval-auc:0.996244	train-auc:0.996472
[58]	eval-auc:0.996244	train-auc:0.996471
[59]	eval-auc:0.996248	train-auc:0.996472
[60]	eval-auc:0.99625	train-auc:0.996474
[61]	eval-auc:0.99624	train-auc:0.996485
[62]	eval-auc:0.996239	train-auc:0.99649
[63]	eval-auc:0.99624	train-auc:0.996492
[64]	eval-auc:0.996236	train-auc:0.996495
[65]	eval-auc:0.996233	train-auc:0.996496
[66]	eval-auc:0.996231	train-auc:0.996496
[67]	eval-auc:0.996229	train-auc:0.996498
[68]	eval-auc:0.996227	train-auc:0.9965
[69]	eval-auc:0.996222	train-auc:0.996501